{% assign number_of_comments = article.comments_count %}

{% if comment %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<div class="template-article-content">
<div class="page-width page-content">

  <div class="grid">
    <article class="grid__item medium-up--two-thirds medium-up--push-one-sixth article">

      
      <header class="section-header">
       <h1 class="section-header__title article__h3">
               {{ article.title }}
              </h1>
        <div class="blog-article-header">
              <div class="article__date">
          
                {%- assign first_item = true -%}
             
                  {%- for tag in article.tags -%}
             
                {%if forloop.first%}
                {%assign tag_handle=tag|downcase%}
                    {% if tag_handle contains "type_" %} 
                                {%- assign first_item = false -%}
                  {%assign tag_last=tag|split:"_"|last%}
                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
                      {{ tag_last }}
                    </a> 
                {% endif %}
                {% endif %}
                  {%- endfor -%}
                {%- unless first_item -%}<div class="diver"></div> {%- endunless -%}
               
             
                {%- if section.settings.blog_show_comments and article.comments_count > 0 -%}
                
                  {%- assign first_item = false -%}
                  <a href="{{ article.url }}#comments">
                    {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                  </a>
                {%- endif -%}
                {%- if section.settings.blog_show_date -%}
               
                {%- assign first_item = false -%}
                {{ article.published_at | time_tag: format: 'month_day_year' }}
              {%- endif -%}   
            </div>
            {%- if section.settings.blog_show_author -%}
            <div class="article__author">by {{ article.author }}</div>
          {%- endif -%}
              </div>
  
      </header>

      {% if section.settings.blog_show_image and article.image %}
        <div class="image-wrap aos-animate article__featured-image" style="height: 0; padding-bottom: {{ 100 | divided_by: article.image.aspect_ratio }}%;">
          {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="lazyload"
              data-src="{{ img_url }}"
              data-widths="[360, 540, 750, 900, 1080, 1600]"
              data-aspectratio="{{ article.image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ article.image.alt }}">
          <noscript>
            <img class="lazyloaded" src="{{ article.image | img_url: '1000x' }}" alt="{{ block.settings.image.alt }}">
          </noscript>
        </div>
      {% endif %}

      <div class="article__body rte ">
        {{ article.content }}
      </div>

      {% if section.settings.social_sharing_blog %}
        {% render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
      {% endif %}

      {% if blog.comments_enabled? %}

        {% if number_of_comments > 0 %}
          <hr class="hr--large">
          <h2 class="h3 text-spacing">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h2>
          <hr class="hr--small hr--clear">
        {% endif %}

        {% paginate article.comments by 5 %}
          {% comment %}
            #comments is required, it is used as an anchor link by Shopify.
          {% endcomment %}
          <div id="comments">

            {% if comment and comment.errors == blank %}
              <hr class="hr--clear">
              <p class="note note--success">
                {% if blog.moderated? %}
                  {{ 'blogs.comments.success_moderated' | t }}
                {% else %}
                  {{ 'blogs.comments.success' | t }}
                {% endif %}
              </p>
            {% endif %}

            {% if number_of_comments > 0 %}
              <ul class="no-bullets">
                {% comment %}
                  If a comment was just submitted with no blank field, show it.
                {% endcomment %}
                {% if comment and comment.errors == blank %}
                  <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
                    {% render 'comment', comment: comment %}
                  </li>
                {% endif %}

                {% for comment in article.comments %}
                  <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
                    {% render 'comment', comment: comment %}
                  </li>

                  {% unless forloop.last %}
                    <li><hr class="hr--clear"></li>
                  {% endunless %}
                {% endfor %}
              </ul>

              {% if paginate.pages > 1 %}
                {% render 'pagination', paginate: paginate %}
              {% endif %}

            {% endif %}

            <hr class="hr--large  ">

            <h2 class="h3 text-spacing">{{ 'blogs.comments.title' | t }}</h2>

            <div class="form-vertical">
              {% form 'new_comment', article %}

                {{ form.errors | default_errors }}

                <div class="grid grid--small">
                  <div class="grid__item medium-up--one-half">
                    <label for="CommentAuthor">{{ 'blogs.comments.name' | t }}</label>
                    <input class="input-full{% if form.errors contains 'author' %} error{% endif %}" type="text" name="comment[author]" id="CommentAuthor" value="{{ form.author }}" autocapitalize="words">
                  </div>
                  <div class="grid__item medium-up--one-half">
                    <label for="CommentEmail">{{ 'blogs.comments.email' | t }}</label>
                    <input class="input-full{% if form.errors contains 'email' %} error{% endif %}" type="email" name="comment[email]" id="CommentEmail" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                  </div>
                </div>

                <label for="CommentBody">{{ 'blogs.comments.message' | t }}</label>
                <textarea class="input-full{% if form.errors contains 'body' %} error{% endif %}" name="comment[body]" id="CommentBody">{{ form.body }}</textarea>

                {% if blog.moderated? %}
                  <p><small>{{ 'blogs.comments.moderated' | t }}</small></p>
                {% endif %}

                <input type="submit" class="btn" value="{{ 'blogs.comments.post' | t }}">

              {% endform %}
            </div>

          </div>
        {% endpaginate %}
      {% endif %}

      <hr class="hr--large  line-top-dashed">

    </article>

 

  
  <div class="template-article-bottom grid__item medium-up--two-thirds medium-up--push-one-sixth">
    <div class="tab-inner">
       {%assign previous_article=blog.previous_article%}
      {%if previous_article!=blank%}
      <div class="tabi-left">
       
        <div class="tabi-top">
        <a href="{{previous_article.url}}">
          <span>
          <?xml version="1.0" encoding="UTF-8"?>
<svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g  transform="translate(-396.000000, -2108.000000)" fill-rule="nonzero">
            <g  transform="translate(404.000000, 2116.000000) rotate(-90.000000) translate(-404.000000, -2116.000000) translate(396.000000, 2108.000000)">
                <rect id="Rectangle" fill="#000000" opacity="0" x="0" y="0" width="16" height="16"></rect>
                <path d="M7.76245116,1.25001408 L4.24990373,4.76256142 C3.91669876,5.0957664 3.91669876,5.63607035 4.24990373,5.96927533 L4.33727984,6.04563481 C4.67172118,6.30016639 5.15117975,6.27471323 5.45661765,5.96927533 L7.5116667,3.91472225 L7.51234883,14.1477681 C7.51288215,14.6182639 7.89408433,14.9994662 8.36435976,15 L8.47139294,14.9934755 C8.89214765,14.9413198 9.21796624,14.5828599 9.21845846,14.1479882 L9.21791671,3.91180558 L11.2750071,5.96926941 C11.6084037,6.30213271 12.1480053,6.30196789 12.4811095,5.9688637 C12.8143032,5.63567 12.8141383,5.09552942 12.4808487,4.76250641 L8.96757356,1.24923132 C8.63470321,0.916627688 8.09497428,0.916957646 7.76245116,1.25001408 Z" id="Path" fill="#999999"></path>
            </g>
        </g>
    </g>
</svg>
          </span>
          <span class="tabit-name">
          previous
          </span>  
          </a>
        </div>
        <div class="tabi-bottom ">
          <h2> <a href="{{previous_article.url}}">{{previous_article.title}}</a></h2>
          <div class="blog-article-header">
           <div class="article__date">
          
                {%- assign first_item = true -%}
             
                  {%- for tag in previous_article.tags -%}
             
                {%if forloop.first%}
                {%assign tag_handle=tag|downcase%}
                    {% if tag_handle contains "type_" %} 
                                {%- assign first_item = false -%}
                  {%assign tag_last=tag|split:"_"|last%}
                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
                      {{ tag_last }}
                    </a> 
                {% endif %}
                {% endif %}
                  {%- endfor -%}
                {%- unless first_item -%}<div class="diver"></div> {%- endunless -%}
              
                {{ previous_article.published_at | time_tag: format: 'month_day_year' }}
                </div>
            </div>
        </div>
      </div>
      {%endif%}
       {%assign next_article=blog.next_article%}
      {%if next_article!=blank%}
         <div class="tabi-right">
             
        <div class="tabi-top">
        <a href="{{next_article.url}}">
           <span class="tabit-name">
          next
          </span>  
          <span>
        <?xml version="1.0" encoding="UTF-8"?>
<svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g  transform="translate(-1028.000000, -2108.000000)" fill-rule="nonzero">
            <g  transform="translate(1036.000000, 2116.000000) scale(-1, 1) rotate(-90.000000) translate(-1036.000000, -2116.000000) translate(1028.000000, 2108.000000)">
                <rect id="Rectangle" fill="#000000" opacity="0" x="0" y="0" width="16" height="16"></rect>
                <path d="M7.76245116,1.25001408 L4.24990373,4.76256142 C3.91669876,5.0957664 3.91669876,5.63607035 4.24990373,5.96927533 L4.33727984,6.04563481 C4.67172118,6.30016639 5.15117975,6.27471323 5.45661765,5.96927533 L7.5116667,3.91472225 L7.51234883,14.1477681 C7.51288215,14.6182639 7.89408433,14.9994662 8.36435976,15 L8.47139294,14.9934755 C8.89214765,14.9413198 9.21796624,14.5828599 9.21845846,14.1479882 L9.21791671,3.91180558 L11.2750071,5.96926941 C11.6084037,6.30213271 12.1480053,6.30196789 12.4811095,5.9688637 C12.8143032,5.63567 12.8141383,5.09552942 12.4808487,4.76250641 L8.96757356,1.24923132 C8.63470321,0.916627688 8.09497428,0.916957646 7.76245116,1.25001408 Z" id="Path" fill="#999999"></path>
            </g>
        </g>
    </g>
</svg>
          </span>
         
          </a>
        </div>
        <div class="tabi-bottom ">
          <h2>  <a href="{{next_article.url}}">{{next_article.title}}</a></h2>
           <div class="blog-article-header">
           <div class="article__date">
          
                {%- assign first_item = true -%}
             
                  {%- for tag in next_article.tags -%}
             
                {%if forloop.first%}
                {%assign tag_handle=tag|downcase%}
                    {% if tag_handle contains "type_" %} 
                                {%- assign first_item = false -%}
                  {%assign tag_last=tag|split:"_"|last%}
                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
                      {{ tag_last }}
                    </a> 
                {% endif %}
                {% endif %}
                  {%- endfor -%}
                {%- unless first_item -%}<div class="diver"></div> {%- endunless -%}
              
                {{ next_article.published_at | time_tag: format: 'month_day_year' }}
              </div>
            </div>
        </div>
      </div>
      {%endif%}
    </div>
    
  </div>
   </div>
  
<!--   <div class="text-center">
    <a href="{{ blog.url }}" class="return-link"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-arrow-left" viewBox="0 0 50 15"><path d="M50 5.38v4.25H15V15L0 7.5 15 0v5.38z"/></svg> {{ 'blogs.article.back_to_blog' | t: title: blog.title }}</a>
  </div> -->
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": {{ article.content | strip_html | json }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ shop.url | append: article.url | json }}
  },
  "headline": {{ article.title | json }},
  {% if article.excerpt != blank %}
    "description": {{ article.excerpt | strip_html | json }},
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      {{ article | img_url: image_size | prepend: "https:" | json }}
    ],
  {% endif %}
  "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "dateModified": {{ article.updated_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "author": {
    "@type": "Person",
    "name": {{ article.author | json }}
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": {{ settings.share_image.height | json }},
        "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
        "width": {{ settings.share_image.width | json }}
      },
    {% endif %}
    "name": {{ shop.name | json }}
  }
}
</script>
</div>
{% schema %}
  {
    "name": "Article pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_image",
        "label": "Show article image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags",
        "label": "Show tags",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comments",
        "label": "Show comment count",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author"
      },
      {
        "type": "checkbox",
        "id": "social_sharing_blog",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
