<div class="Hobestseller-container">
  <div class="contianer-ho">
   {% if section.settings.title != blank %}
    <div class="Hobestseller--title">{{-section.settings.title-}}</div>
   {% endif %}
    {% if section.settings.best_style == 'style1' %}
   <div class="Hobestseller-box">
  {% for block in section.blocks %}
   <div class="Hobestseller-item Hobestseller-item-{{ forloop.index }}">
     {% if block.settings.url %}
     <a href="{{ block.settings.url }}"> 
     {% endif %}
     {% if block.settings.image %}
     <img class="Hologolist-itemimg small-hide"  src="{{ block.settings.image | img_url:'master' }}" alt="{{ block.settings.title }}" />
     {% endif %}
       {% if block.settings.image_mb %}
     <img class="Hologolist-itemimg medium--up-hide"  src="{{ block.settings.image_mb | img_url:'master' }}" alt="{{ block.settings.title }}" />
     {% endif %}
     {% if block.settings.url %}
     </a>
     {% endif %}
     <div class="Hobestseller-item-text">
      {% if block.settings.title != blank %}
       <div class="Hobestseller-item-title">{{-block.settings.title-}}</div>
     {% endif %}
       {% if block.settings.subtitle != blank %}
       <div class="Hobestseller-item-subtitle">{{-block.settings.subtitle-}}</div>
     {% endif %}
     </div>
     {% if block.settings.url %}
     <a class="Hobestseller-item-btn" href="{{ block.settings.url }}"><span>{{ block.settings.url_text }}</span></a>
     {% endif %}
   </div>
  {% endfor %}
  </div>
    {% else %}
       <div class="Hobestseller-box Hobestseller-box02">
  {% for block in section.blocks %}
   <div class="Hobestseller-item">
     {% if block.settings.url %}
     <a href="{{ block.settings.url }}"> 
     {% endif %}
     {% if block.settings.image_sy2 %}
     <img class="Hologolist-itemimg small-hide"  src="{{ block.settings.image_sy2 | img_url:'master' }}" alt="{{ block.settings.title }}" />
     {% endif %}
       {% if block.settings.image_sy2_mb %}
     <img class="Hologolist-itemimg medium--up-hide"  src="{{ block.settings.image_sy2_mb | img_url:'master' }}" alt="{{ block.settings.title }}" />
     {% endif %}
     {% if block.settings.url %}
     </a>
     {% endif %}
     <div class="Hobestseller-item-text">
      {% if block.settings.title != blank %}
       <div class="Hobestseller-item-title">{{-block.settings.title-}}</div>
     {% endif %}
       {% if block.settings.subtitle != blank %}
       <div class="Hobestseller-item-subtitle">{{-block.settings.subtitle-}}</div>
     {% endif %}
     </div>
     {% if block.settings.url %}
     <a class="Hobestseller-item-btn" href="{{ block.settings.url }}"><span>{{ block.settings.url_text }}</span></a>
     {% endif %}
   </div>
  {% endfor %}
  </div>
    {% endif %}
  </div>
  
</div>





{% schema %}
  {
    "name": "Index Best Seller",
"class":"pa_tops",
"settings": [
     {
  "type": "select",
  "id": "best_style",
  "label": "Best Seller Style",
  "options": [
    {
      "value": "style1",
      "label": "style1"
    },
    {
      "value": "style2",
      "label": "style2"
    }
  ],
  "default": "style1"
  },{
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "block",
        "settings": [
   {
        "type": "header",
        "content": "Style1 Image"
      },{
        "type": "image_picker",
        "id": "image",
        "label": "image"
      },{
        "type": "image_picker",
        "id": "image_mb",
        "label": "image mobile"
      },{
        "type": "header",
        "content": "Style2 Image"
      },{
        "type": "image_picker",
        "id": "image_sy2",
        "label": "image02"
      },{
        "type": "image_picker",
        "id": "image_sy2_mb",
        "label": "image mobile02"
      },{
        "type": "text",
        "id": "title",
        "label": "title"
      },{
        "type": "text",
        "id": "subtitle",
        "label": "subtitle"
      },{
        "type": "text",
        "id": "url_text",
        "label": "url_text"
      },{
        "type": "url",
        "id": "url",
        "label": "url"
      }
          
        ]
      }
    ],
    "presets": [
      {
        "name": "Index Best Seller",
        "category": "HO-layout"
      }
    ]
  }
{% endschema %}
