{% if section.settings.show_section != blank %}
<div class="product-reviews product-reviews-{{ section.id }} {% if section.settings.tab_id != blank %}{{ section.settings.tab_id }}{% endif %}">
  <div class="psc-content">
    <div class="psc-content-item psc-content-item-reviews">
      <div class=" psc-inner-content-reviews  psc-inner-content">

        <div class="cus_sorting_r">
          <div class="main_sort">
            <div class="allReviews review_active" data-review="most-recent">Most Recent</div>
            <div class="allReviews" data-review="with-pictures">With pictures</div>
            <div class="allReviews" data-review="videos-first">With videos</div>
            <div class="allReviews" data-review="most-helpful">Most helpful</div>
            <div class="allReviews" data-review="highest-rating">Highest Rating</div>
            <div class="allReviews" data-review="lowest-rating">Lowest Rating</div>
          </div>
        </div>
        <div class="Custom_reviewRating">
          <div class="topHeader">
            <div class="productImage">
              {% if section.settings.product_review_image != blank %}
              <img src="{{ section.settings.product_review_image | img_url:'200x'}}">
              {% else %}
              {% if product.images[0] %}
              <img src="{{ product.images[0] | img_url:'200x'}}">
              {%endif%}
              {%endif%}
            </div>
            <div class="review_Ratings">
              <h2 class="jdgm-rev-widg__title reviewTitle">Overall Rating</h2>
              <div class="reviewCountReview">
                <div class="review_stars" data-rate="{{ section.settings.rating }}">
                  {% assign ss=  section.settings.rating %}
                  {% assign reviews_Rating_first= section.settings.rating | split:'.' | first  %}
                  {% assign reviews_Rating= section.settings.rating | split:'.' | last %}
                  {% assign ssssw = reviews_Rating | plus: 0 %}
                  {% assign sssss = reviews_Rating | plus: 0 %}
                  {% if sssss >= 49 %} <span class="cone">{{- reviews_Rating_first | plus : 1 -}}</span><span class="review_Center"> / </span><span class="ctwo">5</span>
                  {% else %}
                  {% if ssssw == 0 %}<span class="cone">{{- reviews_Rating_first -}}</span><span class="review_Center"> / </span><span class="ctwo">5</span>
                  {% else %}
                  <span class="cone">{{- reviews_Rating_first -}}.5</span><span class="review_Center"> / </span><span class="ctwo">5</span>{% endif %}{% endif %}
                </div>
                <div class="cus-rating">{{ section.settings.badge }}</div>
              </div>
            </div>
          </div>
        </div>
        <!--         ========================================================================================== -->
        <div class="page-width review L-Customreview">
          {% comment %}Start automatically added Judge.me widget{% endcomment %}
          {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
          {% comment %}End automatically added Judge.me widget{% endcomment %}
        </div>

      </div>
    </div>
  </div>
</div>

<script async>
  $(document).ready(function(){
    var interval = null;
    interval = setInterval(Custom_reviewRating,1000);
    function Custom_reviewRating(){
      console.log(343434343);
      var data = $('.Custom_reviewRating').html();
      $('.Custom_reviewRating').remove();
      var cus_sorting_r = $('.cus_sorting_r').html();
      $('.cus_sorting_r').remove();
      if(!$('.jdgm-rev-widg__header div').hasClass('Custom_reviewRating')){
        $('<div class="Custom_reviewRating">'+ data +'</div>').insertAfter('.jdgm-rev-widg__header .jdgm-rev-widg__title');
        $('<div class="cus_sorting_r">'+ cus_sorting_r +'</div>').insertAfter('.jdgm-rev-widg__header .jdgm-widget-actions-wrapper');
      }
      console.log('write a review not Added');
      $('.product-reviews .jdgm-rev-widg__header').addClass('final-wrBtn');
      if(!$('.Custom_reviewRating div').hasClass('jdgm-widget-actions-wrapper')){
        console.log('write a review Added');
        // $('#judgeme_product_reviews[data-from-snippet="true"] .jdgm-rev-widg__header .jdgm-widget-actions-wrapper').insertAfter('#judgeme_product_reviews[data-from-snippet="true"] .jdgm-rev-widg__header .topHeader');

        $('.psc-content .jdgm-rev-widg__header .jdgm-widget-actions-wrapper').insertAfter('.psc-content .jdgm-rev-widg__header .topHeader');

        // $('.final-wrBtn.jdgm-rev-widg__header .jdgm-widget-actions-wrapper').insertAfter('.final-wrBtn.jdgm-rev-widg__header .topHeader');
        $('.jdgm-sort-dropdown').eq(0).addClass('desktopOne MobileOne');
        $('.jdgm-sort-dropdown').eq(1).addClass('desktopOne MobileOne');
        var countProductReview = $('.cus-rating .jdgm-prev-badge').attr('data-number-of-reviews');
        $('.sg_count').html('('+countProductReview+')');
        clearInterval(interval);
      }
      $('.jdgm-rev-widg__header  form.jdgm-form').append('<span class="jdgm-rev-widg-close-btn"><svg t="1649649203825" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2194" width="20" height="20"><path d="M548.992 503.744L885.44 167.328a31.968 31.968 0 1 0-45.248-45.248L503.744 458.496 167.328 122.08a31.968 31.968 0 1 0-45.248 45.248l336.416 336.416L122.08 840.16a31.968 31.968 0 1 0 45.248 45.248l336.416-336.416L840.16 885.44a31.968 31.968 0 1 0 45.248-45.248L548.992 503.744z" p-id="2195" fill="#1b1b1b"></path></svg></span>');
    }



  });



  $('body').on("click",".jdgm-rev-widg-close-btn",function(){
    $('.jdgm-form-wrapper').hide();
  })


  jQuery(document).ready(function(jQuery) {
    var intervall = null;
    interval = setInterval(Custom_reviewRatingg,1000);
    function Custom_reviewRatingg(){
      if($('.jdgm-rev-widg__header').hasClass('final-wrBtn')){
        if(!$('.Custom_reviewRating div').hasClass('jdgm-widget-actions-wrapper')){
          $('.final-wrBtn.jdgm-rev-widg__header .jdgm-widget-actions-wrapper').insertAfter('.final-wrBtn.jdgm-rev-widg__header .topHeader');
          clearInterval(intervall);
        }
      }
    }

  });

  jQuery(document).ready(function(jQuery) {
    var interval = null;
    interval = setInterval(reviewHtml,2000);
    function reviewHtml(){
      console.log(jQuery(".jdgm-rev__header span.jdgm-rev__rating").length);
      if (jQuery(".jdgm-rev__header span.jdgm-rev__rating").length > 1){
        console.log("found");
        jQuery(".jdgm-rev__header span.jdgm-rev__rating").each(function(index) {
          jQuery(this).next("span.jdgm-rev__timestamp").addBack().wrapAll("<div class='reviewPlusTime' />")
        });

        //       *************************************************************************************************
        jQuery(".jdgm-rev span.jdgm-rev__buyer-badge-wrapper span.jdgm-rev__buyer-badge").each(function(index) {
          var verified ='<img class="verifed_img" src="https://cdn.shopify.com/s/files/1/0252/5197/1119/files/verifed.png?v=1646288388">';
          if (!jQuery(this).find('img').hasClass('verifed_img')){
            jQuery(this).append(verified);  
          }
        });


        //       *************************************************************************************************


        jQuery(".jdgm-rev .jdgm-rev__body-read-more").each(function(index) {
          var readmoretext =$(this).text();
          if(readmoretext == 'Read more'){
            $(this).text('Learn more');
          }
        });

        jQuery(".jdgm-rev .jdgm-rev__votes .jdgm-rev__thumb-btn.jdgm-rev_thumb-up").each(function(index) {
          var Newthumb ='<img class="thumb_img" src="https://cdn.shopify.com/s/files/1/0252/5197/1119/files/thumb.png?v=1646288388">';
          if (!jQuery(this).find('img').hasClass('thumb_img')){
            jQuery(this).append(Newthumb);  
          }
        });

        jQuery(".jdgm-rev .jdgm-rev__header").each(function(index) {
          jQuery(this).next(".jdgm-rev__content").addBack().wrapAll("<div class='header-plus-content' />")
        });
        jQuery(".jdgm-rev__content .jdgm-rev__title").each(function(index) {
          jQuery($(this).parents('.header-plus-content').find('.reviewPlusTime').insertBefore(this));
        });
        clearInterval(interval);
      }
    }

    jQuery(document).on('click','.jdgm-paginate a',function(){
      console.log(jQuery(".jdgm-rev__header span.jdgm-rev__rating").length);
      interval = setInterval(reviewHtml,1200);
    });

    $(document).on('click','.main_sort .allReviews' , function(){
      var reviewData = $(this).attr('data-review');
      $('.main_sort .allReviews').removeClass('review_active');
      $(this).addClass('review_active');
      console.log(reviewData);
      var optionValue = $.trim(reviewData);
      var new_class = '.MobileOne';
      var sortBySelect = document.querySelector(new_class);
      sortBySelect.value = optionValue;
      sortBySelect.dispatchEvent(new Event("change"));
      interval = setInterval(reviewHtml,1200);

    });
  });

</script>
{% endif %}

{% schema %}
  {
    "name": "Product Reviews New",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_section",
        "label": "Show Section?",
        "default": true
      },
      {
        "type": "text",
        "id": "tab_id",
        "label": "Tab ID",
		"default": "review",
		"info": "This must be filled in for the first module of the category for Tabs Bar"
      },
      {
        "type": "html",
        "id": "product_review_image",
        "label": "Product Review Image"
      },
      {
        "type": "text",
        "id": "rating",
        "label": "Product Review Rating",
		    "default": "5",
        "info":"Min:1 , Max:5"
      },
      {
        "type": "html",
        "id": "widget",
        "label": "Widget"
      },
      {
        "type": "html",
        "id": "badge",
        "label": "Product Judgeme Badge"
      }
	],
   "presets": [
      {
		"name": "Product Reviews New"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}