{%- assign social_icons = false -%}
{%- assign inline_list = false -%}
{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}
{%- assign show_payment_icons = false -%}
{%- assign show_selectors = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

{%- if section.settings.show_payment_icons -%}
  {%- unless shop.enabled_payment_types == empty -%}
    {%- assign show_payment_icons = true -%}
  {%- endunless -%}
{%- endif -%}

{%- if currency_selector or locale_selector -%}
  {%- assign show_selectors = true -%}
{%- endif -%}

{%- if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or request.page_type == 'article'
  or request.page_type == 'blog'
-%}
  {%- assign social_icons = true -%}
{%- endif -%}

{%- assign payment_width_class = "one-half" -%}
{%- if show_selectors -%}
  {%- unless social_icons -%}
    {%- assign payment_width_class = "" -%}
  {%- endunless -%}
{%- endif -%}

{%- assign copyright_show_class = "medium-up--hide" -%}
{%- if social_icons -%}
  {%- unless show_selectors -%}
    {%- assign copyright_show_class = "" -%}
  {%- endunless -%}
{%- endif -%}

{%- case section.blocks.size -%}
  {%- when 1 -%}
    {%- assign footer_item = 'site-footer__item--full-width' -%}
    {%- assign inline_list = true -%}
  {%- when 2 -%}
    {%- assign footer_item = 'site-footer__item--one-half' -%}
    {%- assign inline_list = true -%}
  {%- when 3 -%}
    {%- assign footer_item = 'site-footer__item--one-third' -%}
    {%- for block in section.blocks -%}
      {%- if block.type == 'newsletter' -%}
        {%- assign footer_item = 'site-footer__item--one-quarter' -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- when 4 -%}
    {%- assign footer_item = 'site-footer__item--one-quarter' -%}
  {%- when 5 -%}
    {%- assign footer_item = 'site-footer__item--one-fifth' -%}
{%- endcase -%}

{% comment %} Create an appropriate hover color based on text color and brightness {% endcomment %}
{%- assign footer_text_color = section.settings.color_footer_text -%}
{%- assign footer_text_color_brightness = section.settings.color_footer_text | color_brightness -%}
{%- if footer_text_color_brightness <= 26 -%}
  {%- assign footer_text_color_hover = footer_text_color | color_lighten: 25 -%}
{%- elsif footer_text_color_brightness <= 65 -%}
  {%- assign footer_text_color_hover = footer_text_color | color_lighten: 15 -%}
{%- else -%}
  {%- assign footer_text_color_hover = footer_text_color | color_darken: 10 -%}
{%- endif -%}
  {%- assign socials = "Tiktok Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}
<style>
  .site-footer__hr {
    border-bottom: 1px solid {{ section.settings.color_footer_bg | color_darken: 10 }};
  }

  .site-footer p,
  .site-footer__linklist-item a,
  .site-footer__rte a,
  .site-footer h4,
  .site-footer small,
  .site-footer__copyright-content a,
  .site-footer__newsletter-error,
  .site-footer__social-icons .social-icons__link {
    color: {{ section.settings.color_footer_text }};
  }

  .site-footer {
    color: {{ section.settings.color_footer_text }};
    background-color: {{ section.settings.color_footer_bg }};
  }

  .site-footer__rte a {
    border-bottom: 1px solid {{ section.settings.color_footer_text }};
  }

  .site-footer__rte a:hover,
  .site-footer__linklist-item a:hover,
  .site-footer__copyright-content a:hover {
    color: {{ footer_text_color_hover }};
  }

  .site-footer__social-icons .social-icons__link:hover {
    color: {{ footer_text_color_hover }};
  }
</style>


{%- capture payment_icon_markup -%}
  {%- if show_payment_icons -%}
    <div class="grid__item site-footer__payment-icons">
      <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
      <ul class="payment-icons list--inline site-footer__icon-list">
        {%- for type in shop.enabled_payment_types -%}
          <li class="payment-icon">
            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endcapture -%}



{%assign match_content=section.settings.match_content |strip%}
{%assign match_content_list=match_content |split:";"%}
{%assign match_content_status=true%}

{%for block in match_content_list%}
	{%assign block=block|handleize%}


	{%if  template.name=="page" %}
		{%if page.handle contains block%}
			{%assign match_content_status=false%}
			{%break%}
		{%endif%}
	{%elsif template.name=="collection"%}
		{%if collection.handle contains block%}
			{%assign match_content_status=false%}
			{%break%}
		{%endif%}
	{%elsif template.name=="product"%}
		{%if product.handle contains block%}
			{%assign match_content_status=false%}
			{%break%}
		{%endif%}
	{%elsif template.name=="blog"%}
		{%if blog.handle contains block%}
			{%assign match_content_status=false%}
			{%break%}
		{%endif%}

	{%elsif template.name=="article"%}
		{%if article.handle contains block%}
			{%assign match_content_status=false%}
			{%break%}
		{%endif%}
	{%endif%}
{%endfor%}


{%unless match_content_status%}
	<style>
	.site-footer{
		margin-top:0px;
	}
  </style>
{%endunless%}

<footer class="site-footer critical-hidden" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
  	{%if match_content_status%}
		<div class="site-footer-header-container dis-none-mb">
			<div class="page-width page-width1200">
				<div class="site-footer-header">
					<div class="sfh-header text-center">
						<p>{{section.settings.newsletter_title}}</p>
					</div>
					<div class="sfh-subheader text-center">
					{{section.settings.newsletter_subtitle}}
					</div>
					<div class="site-footer__newsletter
						{% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}">
						{%- assign formId = 'ContactFooter' -%}
						{% form 'customer', id: formId, novalidate: 'novalidate' %}
							{%- if form.posted_successfully? -%}
								<p class="form-message form-message--success" tabindex="-1" data-form-status>
								{{ 'general.newsletter_form.confirmation' | t }}
								</p>
							{%- endif -%}
							<input type="hidden" name="contact[tags]" value="newsletter">
							<div class="input-group {% if form.errors %} input-group--error{% endif %}">
								<input type="email"
								name="contact[email]"
								id="{{ formId }}-email"
								class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
								value="{{ form.email }}"
								placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
								aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
								aria-required="true"
								required
								autocorrect="off"
								autocapitalize="off"
								{% if form.errors %}
									aria-invalid="true"
									aria-describedby="{{ formId }}-email-error"
									data-form-status
								{% endif %}>
								<span class="input-group__btn">
									<button type="submit" class="btn newsletter__submit" name="commit" >
										<span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
									</button>
								</span>
							</div>
							{% if form.errors contains 'email' %}
								<span id="{{ formId }}-email-error" class="input-error-message">
								<span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
								{% include 'icon-error' %}
								<span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
								</span>
							{% endif %}
						{% endform %}
					</div>
						<div class="footer-contact-box">
							{%- if section.settings.tel != blank -%}
								<div class="phone-box contact-box">
								<span class="icon-box">
									{%render 'icon-phone'%}
								</span>
								<span>
									{{ section.settings.tel}}
								</span>
								</div>
							{%- endif -%}
							{%- if section.settings.email != blank -%}
							<div class="email-box contact-box">
								<span class="icon-box">
								{%render 'icon-email'%}
								</span>
							<span>
								<a href="mailto:{{section.settings.email}}">  {{section.settings.email}}</a>
							</span>
							</div>
							{%- endif -%}
						</div>
					{%- if social_icons -%}
						<div class="site_footer_social_icons">
						{%- for social in socials -%}
							{%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
							{%- assign icon_link = social | prepend: 'icon-' | downcase -%}
							{%- if settings[social_link] != blank -%}
							<li class="social-icons__item">
								<a class="social-icons__link" href="{{ settings[social_link] | escape }}" aria-describedby="a11y-external-message">
								{%- include icon_link -%}
								<span class="icon__fallback-text">{{ social }}</span>
								</a>
							</li>
							{%- endif -%}
						{%- endfor -%}

						{%- if request.page_type == 'blog' or request.page_type == 'article' -%}
							<li>
							<a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
								{% include 'icon-rss' %}
								<span class="icon__fallback-text">RSS</span>
							</a>
							</li>
						{%- endif -%}
						</div>
					{%- endif -%}
				</div>
			</div>
		</div>
		<div class="dis-none dis-block-mb ml-3">
			{%- if section.settings.image_logo != blank -%}
				<div class="feature-row__image-wrapper js medium-up--hide"> 
				{%- assign img_url = section.settings.image_logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
				<div style="padding-top:{{ 1 | divided_by: section.settings.image_logo.aspect_ratio | times: 100}}%;" data-image-loading-animation>
					<img class="feature-row__image lazyload "
						data-src="{{ img_url }}"
						data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
						data-aspectratio="{{ section.settings.image_logo.aspect_ratio }}"
						data-sizes="auto"
						style="--aspect-ratio:{{ section.settings.image_logo.aspect_ratio }}"
						alt="{{ section.settings.image_logo.alt | escape }}"
						data-image>
				</div>
				</div>
			{%- endif -%}

			<div>
				{%- for block in section.blocks -%}
				<div class="site-footer__item p-0">
					<div class="site-footer__item-inner site-footer__item-inner--{{ block.type }}">
					{%- case block.type -%}

					{%- when 'url' -%}
						<div class="mb-3">
						<a href="{{block.settings.link}}" style="color: #ffffff;">
							{{ block.settings.title }}
						</a>
						</div>
					{%- endcase -%}

					</div>
				</div>
				{%- endfor -%}
			</div>
			<div class="flex-layout flex-l-left flex-l-center">
				<div style="color: #ffffff;" class="mr-2">{{ section.settings.email_label }} </div>
				<div class="site-footer__newsletter
				{% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %} m-0">
				{%- assign formId = 'ContactFooter' -%}
				{% form 'customer', id: formId, novalidate: 'novalidate' %}
					{%- if form.posted_successfully? -%}
					<p class="form-message form-message--success" tabindex="-1" data-form-status>
						{{ 'general.newsletter_form.confirmation' | t }}
					</p>
					{%- endif -%}
					<input type="hidden" name="contact[tags]" value="newsletter">
					<div class="input-group {% if form.errors %} input-group--error{% endif %}">
					<input type="email"
						name="contact[email]"
						id="{{ formId }}-email"
						class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %} m-0"
						value="{{ form.email }}"
						placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
						aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
						aria-required="true"
						required
						autocorrect="off"
						autocapitalize="off"
						{% if form.errors %}
						aria-invalid="true"
						aria-describedby="{{ formId }}-email-error"
						data-form-status
						{% endif %}>
					<span class="input-group__btn">
						<button type="submit" class="btn newsletter__submit" name="commit" >
						<span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
						</button>
					</span>
					</div>
					{% if form.errors contains 'email' %}
					<span id="{{ formId }}-email-error" class="input-error-message">
						<span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
						{% include 'icon-error' %}
						<span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
					</span>
					{% endif %}
				{% endform %}
				</div>
			</div>
		</div>
  	{%endif%}
	<div class="page-width page-width1200">
		<div class="site-footer__content">
		<div class="sfc-left">
			{%- for block in section.blocks -%}
				<div class="site-footer__item">
					<div class="site-footer__item-inner site-footer__item-inner--{{ block.type }}">
						{%- case block.type -%}
						{%- when 'text' -%}
							{%- if block.settings.text != blank -%}
								<div class="site-footer__rte
									{% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}">
									{{ block.settings.text }}
								</div>
							{%- endif -%}

						{%- when 'link_list' -%}
							{%- assign footer_linklist = block.settings.menu -%}
							<ul class="site-footer__linklist
										{% if inline_list %}list--inline{% endif %}">
								{%- for link in linklists[footer_linklist].links -%}
								<li class="site-footer__linklist-item">
									<a href="{{ link.url }}"
									{% if link.current %} aria-current="page"{% endif %}
									>
									{{ link.title | escape }}
									</a>
								</li>
								{%- endfor -%}
							</ul>
						{%- endcase -%}

					</div>
				</div>
			{%- endfor -%}
		</div>
		<div class="sfc-right">
			<div class="site-footer__item">
				<div class="site-footer__item-inner">
					{%- if section.settings.download_text -%}
					<p class="h4">{{ section.settings.download_text | escape }}</p>
					{%- endif -%}
					
					<div class="fappcrb-right">
						<div class="google-btn">
						{%if section.settings.google_link%}
							<a href="{{section.settings.google_link}}" target="_blank">
						{%endif%}
						<div  class="feature-row__image-wrapper js">
							{%- assign img_url = section.settings.google_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
							<div style="padding-top:{{ 1 | divided_by: section.settings.google_image.aspect_ratio | times: 100}}%;" data-image-loading-animation>
								<img 
									class="feature-row__image lazyload"
									data-src="{{ img_url }}"
									data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
									data-aspectratio="{{ section.settings.google_image.aspect_ratio }}"
									data-sizes="auto"
									alt="{{ section.settings.google_image.alt | escape }}">
							</div>
						</div>
						{%if section.settings.google_link%}
						</a>
						{%endif%}
						</div>
						<div class="ios-btn">
							{%if section.settings.ios_link%}
								<a href="{{section.settings.ios_link}}" target="_blank">
								{%endif%}
								<div  class="feature-row__image-wrapper js">
									{%- assign img_url = section.settings.ios_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
									<div style="padding-top:{{ 1 | divided_by: section.settings.ios_image.aspect_ratio | times: 100}}%;" data-image-loading-animation>
										<img 
											class="feature-row__image lazyload"
											data-src="{{ img_url }}"
											data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
											data-aspectratio="{{ section.settings.ios_image.aspect_ratio }}"
											data-sizes="auto"
											alt="{{ section.settings.ios_image.alt | escape }}">
									</div>
								</div>
								{%if section.settings.ios_link%}
								</a>
							{%endif%}
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
<div class="site-footer-bottom">
	<div class="page-width page-width1200">
		<div class="grid grid--no-gutters small--text-center grid--footer-float-right">
			{%- if show_selectors -%}
				<div class="grid__item one-half small--one-whole">
					{%- form 'localization', class: 'selectors-form', data-disclosure-form: '' -%}
						{%- if locale_selector -%}
						<div class="selectors-form__item">
							<h2 class="visually-hidden" id="lang-heading">
							{{ 'general.language.dropdown_label' | t }}
							</h2>

							<div class="disclosure" data-disclosure-locale>
							<button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
								{{ form.current_locale.endonym_name }}
							</button>
							<ul id="lang-list" class="disclosure-list" data-disclosure-list>
								{% for locale in form.available_locales %}
								<li class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}">
									<a class="disclosure-list__option" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
									{{ locale.endonym_name }}
									</a>
								</li>
								{%- endfor -%}
							</ul>
							<input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
							</div>
						</div>
						{%- endif -%}

						{%- if currency_selector -%}
						<div class="selectors-form__item">
							<h2 class="visually-hidden" id="currency-heading">
							{{ 'general.currency.dropdown_label' | t }}
							</h2>

							<div class="disclosure" data-disclosure-currency>
							<button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="currency-list" aria-describedby="currency-heading" data-disclosure-toggle>
								{{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
							</button>
							<ul id="currency-list" class="disclosure-list" data-disclosure-list>
								{% for currency in form.available_currencies %}
								<li class="disclosure-list__item {% if currency.iso_code == form.current_currency.iso_code %}disclosure-list__item--current{% endif %}">
									<a class="disclosure-list__option" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
									{{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}
									</a>
								</li>
								{%- endfor -%}
							</ul>
							<input type="hidden" name="currency_code" id="CurrencySelector" value="{{ form.current_currency.iso_code }}" data-disclosure-input/>
							</div>
						</div>
						{%- endif -%}
					{%- endform -%}
				</div>
			{%- else -%}
				<div class="grid__item small--hide {{ payment_width_class }} {% if show_payment_icons %}site-footer-item-center-vertically{% endif %}">{{ payment_icon_markup }}</div>
			{%- endif -%}

			<div class="grid__item {% if show_selectors or show_payment_icons %}one-half{% endif %} small--one-whole site-footer-item-tall text-right">
				{%- if show_selectors -%}
					<div class="grid__item small--hide ">{{ payment_icon_markup }}</div>
				{%- endif -%}
			{%- if social_icons and show_selectors -%}
				<div class="grid__item medium-up--hide text-center ">
					<small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, Oclean Official Website. All Rights Reserved.</small>
				</div>
			{%- endif -%}
			{%- if show_selectors -%}
				<div class="grid__item medium-up--hide text-center">{{ payment_icon_markup }}</div>
			{%- endif -%}
		</div>

		<!--<div class="grid__item medium-up--hide {{ payment_width_class }} small--one-whole">{{ payment_icon_markup }}</div> BOBBY-->

		
		{%- if social_icons and show_selectors -%}
			<div class="grid__item small--hide  {% if show_payment_icons %}one-half{% endif %}">
				<small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, Oclean Official Website. All Rights Reserved.</small>
			</div>
		{%- endif -%}
		
		<!--
		<div class="grid__item small--one-whole {{ copyright_show_class }} site-footer-item-align-center-vertically">
			<small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
			<small class="site-footer__copyright-content site-footer__copyright-content--powered-by">{{ powered_by_link }}</small>
		</div>
		-->
		
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNNCR45"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
		</div>
	</div>
</div>
</footer>



{% schema %}
{
	"name": "Footer",
	"max_blocks": 4,
	"settings": [{
			"type": "image_picker",
			"id": "image_logo",
			"label": "Image in Mobile",
			"info": "Logo"
		},
		{
			"type": "text",
			"id": "email_label",
			"label": "Email label",
			"default": "邮件订阅"
		},
		{
			"type": "header",
			"content": "Payment methods"
		},
		{
			"type": "checkbox",
			"id": "show_payment_icons",
			"label": "Show payment icons",
			"default": false
		},
		{
			"type": "header",
			"content": "Color"
		},
		{
			"type": "color",
			"id": "color_footer_bg",
			"label": "Background",
			"default": "#f6f6f6"
		},
		{
			"type": "color",
			"id": "color_footer_text",
			"label": "Text",
			"default": "#333232"
		},
		{
			"type": "header",
			"content": "Language Selector",
			"info": "To add a language, go to your [language settings.](/admin/settings/languages)"
		},
		{
			"type": "checkbox",
			"id": "show_locale_selector",
			"label": "Show language selector",
			"default": true
		},
		{
			"type": "header",
			"content": "Currency Selector",
			"info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
		},
		{
			"type": "checkbox",
			"id": "show_currency_selector",
			"label": "Show currency selector",
			"default": true
		},
		{
			"type": "header",
			"content": "Newsletter"
		},

		{
			"type": "text",
			"id": "newsletter_title",
			"label": "Newsletter title",
			"default": "Stay in Touch"
		},
		{
			"type": "text",
			"id": "newsletter_subtitle",
			"label": "Newsletter subtitle",
			"default": "Be The First To Receive The Latest Product Updates, Coupons,And Product-Testing Invitations."
		},

		{
			"type": "header",
			"content": "Contact"
		},
		{
			"type": "html",
			"id": "tel",
			"label": "Phone"
		},
		{
			"type": "text",
			"id": "email",
			"label": "Email"
		}
	],
	"blocks": [{
			"type": "link_list",
			"name": {
				"cs": "Nabídka",
				"da": "Menu",
				"de": "Menü",
				"en": "Menu",
				"es": "Menú",
				"fi": "Valikko",
				"fr": "Menu",
				"it": "Menu",
				"ja": "メニュー",
				"ko": "메뉴",
				"nb": "Meny",
				"nl": "Menu",
				"pl": "Menu",
				"pt-BR": "Menu",
				"pt-PT": "Menu",
				"sv": "Meny",
				"th": "เมนู",
				"tr": "Menü",
				"vi": "Menu",
				"zh-CN": "菜单",
				"zh-TW": "選單"
			},
			"settings": [{
					"type": "text",
					"id": "title",
					"label": {
						"cs": "Nadpis",
						"da": "Overskrift",
						"de": "Überschrift",
						"en": "Heading",
						"es": "Título",
						"fi": "Otsake",
						"fr": "Titre",
						"it": "Heading",
						"ja": "見出し",
						"ko": "제목",
						"nb": "Overskrift",
						"nl": "Kop",
						"pl": "Nagłówek",
						"pt-BR": "Título",
						"pt-PT": "Título",
						"sv": "Rubrik",
						"th": "ส่วนหัว",
						"tr": "Başlık",
						"vi": "Tiêu đề",
						"zh-CN": "标题",
						"zh-TW": "標題"
					},
					"default": {
						"cs": "Rychlé odkazy",
						"da": "Hurtige links",
						"de": "Quick-Links",
						"en": "Quick links",
						"es": "Enlaces rápidos",
						"fi": "Pikalinkit",
						"fr": "Liens rapides",
						"it": "Link rapidi",
						"ja": "クイックリンク",
						"ko": "빠른 링크",
						"nb": "Hurtigkoblinger",
						"nl": "Snelle links",
						"pl": "Szybkie linki",
						"pt-BR": "Links rápidos",
						"pt-PT": "Ligações rápidas",
						"sv": "Snabblänkar",
						"th": "ลิงก์ด่วน",
						"tr": "Hızlı bağlantılar",
						"vi": "Liên kết nhanh",
						"zh-CN": "快速链接",
						"zh-TW": "快速連結"
					}
				},
				{
					"type": "link_list",
					"id": "menu",
					"label": {
						"cs": "Nabídka",
						"da": "Menu",
						"de": "Menü",
						"en": "Menu",
						"es": "Menú",
						"fi": "Valikko",
						"fr": "Menu",
						"it": "Menu",
						"ja": "メニュー",
						"ko": "메뉴",
						"nb": "Meny",
						"nl": "Menu",
						"pl": "Menu",
						"pt-BR": "Menu",
						"pt-PT": "Menu",
						"sv": "Meny",
						"th": "เมนู",
						"tr": "Menü",
						"vi": "Menu",
						"zh-CN": "菜单",
						"zh-TW": "選單"
					},
					"default": "footer"
				}
			]
		},
		{
			"type": "url",
			"name": "Menu(mb)",
			"settings": [{
					"type": "text",
					"id": "title",
					"label": {
						"cs": "Nadpis",
						"da": "Overskrift",
						"de": "Überschrift",
						"en": "Heading",
						"es": "Título",
						"fi": "Otsake",
						"fr": "Titre",
						"it": "Heading",
						"ja": "見出し",
						"ko": "제목",
						"nb": "Overskrift",
						"nl": "Kop",
						"pl": "Nagłówek",
						"pt-BR": "Título",
						"pt-PT": "Título",
						"sv": "Rubrik",
						"th": "ส่วนหัว",
						"tr": "Başlık",
						"vi": "Tiêu đề",
						"zh-CN": "标题",
						"zh-TW": "標題"
					},
					"default": {
						"cs": "Rychlé odkazy",
						"da": "Hurtige links",
						"de": "Quick-Links",
						"en": "Quick links",
						"es": "Enlaces rápidos",
						"fi": "Pikalinkit",
						"fr": "Liens rapides",
						"it": "Link rapidi",
						"ja": "クイックリンク",
						"ko": "빠른 링크",
						"nb": "Hurtigkoblinger",
						"nl": "Snelle links",
						"pl": "Szybkie linki",
						"pt-BR": "Links rápidos",
						"pt-PT": "Ligações rápidas",
						"sv": "Snabblänkar",
						"th": "ลิงก์ด่วน",
						"tr": "Hızlı bağlantılar",
						"vi": "Liên kết nhanh",
						"zh-CN": "快速链接",
						"zh-TW": "快速連結"
					}
				},
				{
					"type": "url",
					"id": "url",
					"label": "Url"
				}
			]
		},
		{
			"type": "text",
			"name": {
				"cs": "Text",
				"da": "Tekst",
				"de": "Text",
				"en": "Text",
				"es": "Texto",
				"fi": "Teksti",
				"fr": "Texte",
				"it": "Testo",
				"ja": "テキスト",
				"ko": "텍스트",
				"nb": "Tekst",
				"nl": "Tekst",
				"pl": "Tekst",
				"pt-BR": "Texto",
				"pt-PT": "Texto",
				"sv": "Text",
				"th": "ข้อความ",
				"tr": "Metin",
				"vi": "Văn bản",
				"zh-CN": "文本",
				"zh-TW": "文字"
			},
			"settings": [{
					"type": "text",
					"id": "title",
					"label": {
						"cs": "Nadpis",
						"da": "Overskrift",
						"de": "Überschrift",
						"en": "Heading",
						"es": "Título",
						"fi": "Otsake",
						"fr": "Titre",
						"it": "Heading",
						"ja": "見出し",
						"ko": "제목",
						"nb": "Overskrift",
						"nl": "Kop",
						"pl": "Nagłówek",
						"pt-BR": "Título",
						"pt-PT": "Título",
						"sv": "Rubrik",
						"th": "ส่วนหัว",
						"tr": "Başlık",
						"vi": "Tiêu đề",
						"zh-CN": "标题",
						"zh-TW": "標題"
					},
					"default": {
						"cs": "Informujte o svém obchodu",
						"da": "Fortæl om din virksomhed",
						"de": "Rede über dein Unternehmen",
						"en": "Talk about your business",
						"es": "Habla sobre tu negocio",
						"fi": "Kerro yrityksestäsi",
						"fr": "Parlez de votre entreprise",
						"it": "Parla della tua attività commerciale",
						"ja": "あなたのビジネスについて語る",
						"ko": "비즈니스에 대한 이야기하기",
						"nb": "Snakk om bedriften din",
						"nl": "Vertel over je bedrijf",
						"pl": "Opowiedz o swojej firmie",
						"pt-BR": "Fale sobre o seu negócio",
						"pt-PT": "Fale sobre o seu negócio",
						"sv": "Prata om ditt företag",
						"th": "พูดถึงธุรกิจของคุณ",
						"tr": "İşletmenizden bahsedin",
						"vi": "Chia sẻ về doanh nghiệp của bạn",
						"zh-CN": "介绍您的业务",
						"zh-TW": "描述您的商家"
					}
				},
				{
					"type": "richtext",
					"id": "text",
					"label": {
						"cs": "Text",
						"da": "Tekst",
						"de": "Text",
						"en": "Text",
						"es": "Texto",
						"fi": "Teksti",
						"fr": "Texte",
						"it": "Testo",
						"ja": "テキスト",
						"ko": "텍스트",
						"nb": "Tekst",
						"nl": "Tekst",
						"pl": "Tekst",
						"pt-BR": "Texto",
						"pt-PT": "Texto",
						"sv": "Text",
						"th": "ข้อความ",
						"tr": "Metin",
						"vi": "Văn bản",
						"zh-CN": "文本",
						"zh-TW": "文字"
					},
					"default": {
						"cs": "<p>Popište zákazníkům podrobně svůj obchod, propagační akce nebo značky nabízeného zboží.</p>",
						"da": "<p>Del butiksoplysninger, reklamer eller brandindhold med dine kunder.</p>",
						"de": "<p>Teile deine Shop-Details, Werbeaktionen oder Markeninhalte mit deinen Kunden.</p>",
						"en": "<p>Share store details, promotions, or brand content with your customers.</p>",
						"es": "<p>Comparte detalles de la tienda, promociones o contenido de la marca con tus clientes.</p>",
						"fi": "<p>Jaa myymälän tiedot, tarjoukset tai brändin sisältö asiakkaittesi kanssa.</p>",
						"fr": "<p>Partagez les détails de la boutique, les promotions ou le contenu de la marque avec vos clients.</p>",
						"it": "<p>Condividi dettagli del negozio, promozioni o contenuti del brand con i clienti.</p>",
						"ja": "<p>ストア詳細、プロモーション、ブランドのコンテンツをお客様と共有する。</p>",
						"ko": "<p>스토어 세부 정보, 프로모션 또는 브랜드 콘텐츠를 고객과 공유하십시오.</p>",
						"nb": "<p>Del butikkdetaljer, kampanjer eller merkevareinnhold med kundene dine.</p>",
						"nl": "<p>Deel winkeldetails, promoties of merkcontent met je klanten.</p>",
						"pl": "<p>Poinformuj swoich klientów o sklepie, promocjach lub zawartości marki.</p>",
						"pt-BR": "<p>Compartilhe informações da loja, promoções ou conteúdo da marca com seus clientes.</p>",
						"pt-PT": "<p>Partilhe detalhes da loja, promoções ou conteúdo de marca com os seus clientes.</p>",
						"sv": "<p>Dela butikens detaljer, kampanjer eller varumärkesinnehåll med dina kunder.</p>",
						"th": "<p>แชร์รายละเอียดร้านค้า โปรโมชัน หรือเนื้อหาแบรนด์กับลูกค้าของคุณ</p>",
						"tr": "<p>Mağaza ayrıntılarını, promosyonları, marka içeriğini müşterilerinizle paylaşın.</p>",
						"vi": "<p>Chia sẻ thông tin cửa hàng, khuyến mãi hoặc nội dung thương hiệu với khách hàng.</p>",
						"zh-CN": "<p>与您的客户共享商店详细信息、促销信息或品牌内容。</p>",
						"zh-TW": "<p>與顧客分享商店的詳細資訊、宣傳活動或品牌內容。</p>"
					}
				}
			]
		}
	]
}
{% endschema %}
