{%- liquid
  assign has_logo = true
  assign header_logo_size = section.settings.desktop_logo_width | append: 'x'
  assign header_logo_size_mobile = section.settings.mobile_logo_width | append: 'x'
-%}

{%- style -%}
  .header-item--logo,
  .header-layout--left-center .header-item--logo {
    -webkit-box-flex: 0 1 {{ section.settings.mobile_logo_width }}px;
    -ms-flex: 0 1 {{ section.settings.mobile_logo_width }}px;
    flex: 0 1 {{ section.settings.mobile_logo_width }}px;
  }

  @media only screen and (min-width: 769px) and (max-width: 1399px) {
    .header-item--logo,
    .header-layout--left-center .header-item--logo{
      -webkit-box-flex: 0 0 {{ section.settings.desktop_logo_width }}px;
      -ms-flex: 0 0 {{ section.settings.desktop_logo_width }}px;
          flex: 0 0 16vw;
    }
    .header-layout--left-center .header-item--icons{
      -webkit-box-flex: 0 0 20vw;
            -ms-flex: 0 0 20vw;
            flex: 0 0 20vw;
      max-width:500px;
    }
    #SiteHeader .page-full{ padding: 0 20px; }
  }
  @media only screen and (max-width: 992px){
    .header-layout--left-center .header-item--icons{
      /*
      -webkit-box-flex: 0 0 90px;
            -ms-flex: 0 0 90px;
            flex: 0 0 90px;
            */
      min-width: 90px;
    }
  }
  @media only screen and (min-width: 1400px) {
    .header-layout--left-center .header-item--icons{
    -webkit-box-flex: 0 0 15vw;
          -ms-flex: 0 0 15vw;
          flex: 0 0 15vw;
    max-width:500px;
    }
  }
  @media only screen and (max-width: 768px){
    #SiteHeader .page-full{ padding: 0 52px; }
  }

  @media only screen and (max-width: 589px){
    #SiteHeader .page-full{ padding: 0 7px; }
  }

  .site-header__logo a {
    max-width: {{ section.settings.mobile_logo_width }}px;
  }
  .is-light .site-header__logo .logo--inverted {
    max-width: {{ section.settings.mobile_logo_width }}px;
  }
  @media only screen and (min-width: 769px) and (max-width: 1399px) {
    .site-header__logo a {
      max-width: {{ section.settings.desktop_logo_width }}px;
    }

    .is-light .site-header__logo .logo--inverted {
      max-width: {{ section.settings.desktop_logo_width }}px;
    }
  }
  @media only screen and (min-width: 1400px) {
    .site-header__logo a {
      width: {{ section.settings.desktop_logo_width }}px;
    }
  }
{%- endstyle -%}

{%- if template == 'index' -%}
  <h1 id="LogoContainer" class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
    <span class="visually-hidden">{{ shop.name }}</span>
{%- else -%}
  <div id="LogoContainer" class="h1 site-header__logo" itemscope itemtype="http://schema.org/Organization">
{%- endif -%}
{%- if section.settings.logo -%}
  {% comment %}
    .logo--has-inverted is only applied to the default logo if the inverted logo exists. That way it'll only be hidden on the slider when it has a backup.
  {% endcomment %}
  <a
    href="{{ routes.root_url }}"
    itemprop="url"
    class="site-header__logo-link{% if section.settings.logo-inverted %} logo--has-inverted{% endif %}">
    <img
      class="small--hide logo_whiteho"
      src="{{ section.settings.logo | img_url: header_logo_size }}"
      srcset="{{ section.settings.logo | img_url: header_logo_size }} 1x, {{ section.settings.logo | img_url: header_logo_size, scale: 2 }} 2x"
      alt="{{ section.settings.logo.alt | default: shop.name }}"
      itemprop="logo">
<!--     <img
      class="small--hide logo_blackho"
      src="{{ section.settings.logo_black | img_url: header_logo_size }}"
      srcset="{{ section.settings.logo_black | img_url: header_logo_size }} 1x, {{ section.settings.logo_black | img_url: header_logo_size, scale: 2 }} 2x"
      alt="{{ section.settings.logo_black.alt | default: shop.name }}"
      itemprop="logo"> -->
    <img
      class="medium-up--hide logo_whiteho"
      src="{{ section.settings.logo | img_url: header_logo_size_mobile }}"
      srcset="{{ section.settings.logo | img_url: header_logo_size_mobile }} 1x, {{ section.settings.logo | img_url: header_logo_size_mobile, scale: 2 }} 2x"
      alt="{{ section.settings.logo.alt | default: shop.name }}">
<!--     <img
      class="medium-up--hide logo_blackho"
      src="{{ section.settings.logo_black | img_url: header_logo_size_mobile }}"
      srcset="{{ section.settings.logo_black | img_url: header_logo_size_mobile }} 1x, {{ section.settings.logo_black | img_url: header_logo_size_mobile, scale: 2 }} 2x"
      alt="{{ section.settings.logo_black.alt | default: shop.name }}"> -->

  </a>
  {%- if section.settings.logo-inverted -%}
    <a
      href="{{ routes.root_url }}"
      itemprop="url"
      class="site-header__logo-link logo--inverted">
      <img
        class="small--hide"
        src="{{ section.settings.logo-inverted | img_url: header_logo_size }}"
        srcset="{{ section.settings.logo-inverted | img_url: header_logo_size }} 1x, {{ section.settings.logo-inverted | img_url: header_logo_size, scale: 2 }} 2x"
        alt="{{ section.settings.logo-inverted.alt | default: shop.name }}"
        itemprop="logo">
      <img
        class="medium-up--hide"
        src="{{ section.settings.logo-inverted | img_url: header_logo_size_mobile }}"
        srcset="{{ section.settings.logo-inverted | img_url: header_logo_size_mobile }} 1x, {{ section.settings.logo-inverted | img_url: header_logo_size_mobile, scale: 2 }} 2x"
        alt="{{ section.settings.logo.alt | default: shop.name }}">
    </a>
  {%- endif -%}
{%- else -%}
  <a href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a>
{%- endif -%}
{%- if template == 'index' -%}
  </h1>
{%- else -%}
  </div>
{%- endif -%}


{%- unless has_logo -%}
  {%- if template == 'index' -%}
    <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
  {%- else -%}
    <div class="h1 site-header__logo" itemscope itemtype="http://schema.org/Organization">
  {%- endif -%}
  <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-link">
    {{ shop.name }}
  </a>
  {%- if template == 'index' -%}
    </h1>
  {%- else -%}
    </div>
  {%- endif -%}
{%- endunless -%}
