{%- liquid
  assign current_variant = product.selected_or_first_available_variant

  assign product_zoom_size = '1800x1800'
  assign product_image_size = '620x'
  case image_container_width
    when 'small'
      assign product_image_width = 'medium-up--two-fifths'
      assign product_description_width = 'medium-up--three-fifths'
      assign product_image_size = '480x'
    when 'medium'
      assign product_image_width = 'medium-up--one-half'
      assign product_description_width = 'medium-up--one-half'
      assign product_image_size = '620x'
    when 'large'
      assign product_image_width = 'medium-up--three-fifths'
      assign product_description_width = 'medium-up--two-fifths'
      assign product_image_size = '740x'
  endcase

  unless thumbnail_position
    assign thumbnail_position = 'beside'
  endunless
-%}
{% assign sca_product = product %}{% assign sca_product_id_text = "," | append : sca_product.id | append : "," %}{% assign sca_price = sca_product.price %}{% assign sca_price_min = sca_product.price_min %}{% assign sca_price_max = sca_product.price_max %}{% assign sca_compare_at_price = sca_product.compare_at_price %}{% assign sca_compare_at_price_min = sca_product.compare_at_price_min %}{% assign sca_compare_at_price_max = sca_product.compare_at_price_max %}{% assign sca_product_available = sca_product.available %}{% assign sca_product_variantCount = sca_product.variants.size %}{% assign sca_compare_at_price_varies = sca_product.compare_at_price_varies %}{% assign sca_price_varies = sca_product.price_varies %}{% assign sca_has_only_default_variant = false %}{% capture sca_product_variants_json %}{{sca_product.variants | json }}{% endcapture %} {% capture sca_product_json %}{ {% if sca_all_gift_products_ids == null or sca_all_gift_products_ids contains sca_product_id_text %}{% assign sca_product_available = false %}{% assign sca_product_variantCount = 0 %}{% assign sca_has_only_default_variant = true %}{% assign sca_is_first_variant = true %}{% capture sca_variants_json %} [{% for variant in sca_product.variants %}{% unless variant.metafields.secomapp.freegifts %}{% unless variant.title contains '(Freegifts)' %}{% unless variant.title contains '% Off' %}{% unless variant.metafields.shappify_qb.qb_hide == "1" %}{% unless variant.metafields.shappify_bundle.is_bundle == "true" %}{% unless variant.metafields.brodev_scn.hide == "true" %}{% unless variant.metafields.wholesaler2.wholesale %}{% unless variant.metafields.Wholesaler.level %}{% unless variant.title contains '(Wholesale' %}{% if sca_is_first_variant%} {{ variant | json }}{% assign sca_price = variant.price %} {% assign sca_price_min = variant.price %} {% assign sca_price_max = variant.price %} {% assign sca_compare_at_price = variant.compare_at_price %} {% assign sca_compare_at_price_min = variant.compare_at_price %} {% assign sca_compare_at_price_max = variant.compare_at_price %} {% assign sca_product_available = variant.available %} {% assign sca_product_variantCount = 1 %} {% assign sca_is_first_variant = false%}{% else %},{{variant | json }} {% if sca_price_min >= variant.price %} {% assign sca_price_min = variant.price %} {% assign sca_price = variant.price %}{% endif %} {% if sca_price_max <= variant.price %} {% assign sca_price_max = variant.price %} {% endif %} {% if variant.compare_at_price %} {% if sca_compare_at_price_min==null or sca_compare_at_price_min >= variant.compare_at_price %} {% assign sca_compare_at_price_min = variant.compare_at_price %} {% assign sca_compare_at_price = variant.compare_at_price %} {% endif %} {% if sca_compare_at_price_max==null or sca_compare_at_price_max < variant.compare_at_price %} {% assign sca_compare_at_price_max = variant.compare_at_price %} {% endif %} {% endif %} {% if variant.available == true %} {% assign sca_product_available = true %} {% endif %} {% assign sca_product_variantCount = sca_product_variantCount | plus: 1 %}{% endif %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{%endfor%} ]{% endcapture %}{% if sca_price_min < sca_price_max %}{% assign sca_price_varies = true %}{% else %}{% assign sca_price_varies = false %}{% endif %}{% if sca_compare_at_price_min < sca_compare_at_price_max %}{% assign sca_compare_at_price_varies = true %}{% else %}{% assign sca_compare_at_price_varies = false %}{% endif %}{% if sca_product_variantCount > 1 %}{% assign sca_has_only_default_variant = false %}{% endif %}{% if sca_product_variantCount == sca_product.variants.size %} "variants":{{ sca_product.variants }},{% else %}{%assign sca_product_variants_json = sca_variants_json %} "variants":{{ sca_variants_json }},{% endif %}{% else %} "variants":{{ sca_product_variants_json }},{% endif %} "id": {{sca_product.id}}, "title": {{sca_product.title | json}}, "handle": {{sca_product.handle | json}}, "description": {{sca_product.description | json}}, "published_at": "{{sca_product.published_at | date: "%Y-%m-%dT%H-%M-%S%:z" }}", "created_at": "{{sca_product.created_at | date: "%Y-%m-%dT%H-%M-%S%:z" }}", "vendor": {{sca_product.vendor | json}}, "type": {{sca_product.type | json}}, "tags": {{sca_product.tags | json}}, "price": {{sca_price}}, "price_min": {{sca_price_min}}, "price_max": {{sca_price_max}}, "available": {{sca_product.available}}, "price_varies": {{sca_price_varies}}, "compare_at_price": {{sca_compare_at_price}}, "compare_at_price_min": {{sca_compare_at_price_min}}, "compare_at_price_max": {{sca_compare_at_price_max}}, "compare_at_price_varies": {{sca_compare_at_price_varies}}, "images": {{sca_product.images | json}}, "featured_image": {{sca_product.featured_image | json }}, "options": {{sca_product.options | json}}, "media": {{sca_product.media | json }}, "content": {{sca_product.content | json }}} {% endcapture sca_product_json %}
<div id="ProductSection-{{ section_id }}"
  class="product-section"
  data-section-id="{{ section_id }}"
  data-product-id="{{ product.id }}"
  data-section-type="product"
  data-product-title="{{ product.title | escape }}"
  data-product-handle="{{ product.handle }}"
  {% unless isModal %}
    data-history="true"
  {% endunless %}
  data-modal="{{ isModal }}">

  {%- render 'product-template-variables', product: product, current_variant: current_variant -%}

  <div class="page-content">
    <div class="page-width">
      {%- if settings.show_breadcrumbs and isModal != true -%}
    <div class="navigation_breadcrumbs">  {%- render 'breadcrumbs' -%}</div>
      {%- endif -%}

      <div class="grid parent-box">
        <div class="grid__item widescreen--two-thirds left-window  product-single__sticky ">
          {% for block in section.blocks %}
            {%- case block.type -%}
              {%- when 'sku_change_btn' -%}
              {% if product == block.settings.p1 %}
                {% assign other_product = block.settings.p2 %}   
              {% else %}
                {% assign other_product = block.settings.p1 %}   
              {% endif %}
            {% endcase %}
          {% endfor %}
          {%- render 'product-images',
            section_id: section_id,
            product: product,
            isModal: isModal,
            product_zoom_enable: product_zoom_enable,
            product_zoom_size: product_zoom_size,
            product_image_size: product_image_size,
            thumbnail_position: thumbnail_position,
            thumbnail_arrows: thumbnail_arrows,
            video_looping: video_looping,
            video_style: video_style,
            sku_switching: sku_switching,
            other_product: other_product,
          -%}

          {% if section.settings.show_free_accessories %}
          <div class="free-accessories-area medium-down--hide">
            {% if section.settings.free_access_title != blank %}
            <div class="fa-top-container">
              <h2 class="title-box">{{ section.settings.free_access_title }}</h2>
              {% if section.settings.free_access_icon != blank %}
              <div class="icon-box">{{ section.settings.free_access_icon }}</div>
              {% endif %}
            </div>
            {% endif %}
            {% if section.settings.free_access_desc != blank %}
            <div class="fa-bottom-container">
              <div class="desc-box bottom-item">
                {{ section.settings.free_access_desc }}
              </div>
              <div class="prolist-box bottom-item">
                {% for block in section.blocks %}
                {% if block.type == 'free_accessories' %}
                {% if block.settings.fa_pro_link != blank %}
                <a class="pro-item" href="{{ block.settings.fa_pro_link }}">
                  {% if block.settings.fa_pro_image != blank %}
                  <div class="pro-item-image">
                    <img class="lazyload js"
                         src="{{ block.settings.fa_pro_image | img_url: '1x' }}"
                         srcset="{{ block.settings.fa_pro_image | img_url: '1500x' }}, {{ block.settings.fa_pro_image | img_url: '960x' }}"
                         sizes="(max-width: 960px) 960px, 1500px"
                         alt="Product Item Image"
                         width="{{ block.settings.fa_pro_image.width }}"
                         height="{{ block.settings.fa_pro_image.height }}"/>
                  </div>
                  {% endif %}
                  {% if block.settings.title != blank %}
                  <div class="pro-item-title">{{ block.settings.title }}</div>
                  {% endif %}
                </a>
                {% else %}
                <div class="pro-item">
                  {% if block.settings.fa_pro_image != blank %}
                  <div class="pro-item-image">
                    <img class="lazyload js"
                         src="{{ block.settings.fa_pro_image | img_url: '1x' }}"
                         srcset="{{ block.settings.fa_pro_image | img_url: '1500x' }}, {{ block.settings.fa_pro_image | img_url: '960x' }}"
                         sizes="(max-width: 960px) 960px, 1500px"
                         alt="Product Item Image"
                         width="{{ block.settings.fa_pro_image.width }}"
                         height="{{ block.settings.fa_pro_image.height }}"/>
                  </div>
                  {% endif %}
                  {% if block.settings.title != blank %}
                  <div class="pro-item-title">{{ block.settings.title }}</div>
                  {% endif %}
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
              </div>
            </div>
            {% endif %}
          </div>
          {% endif %}

        </div>

        <div class="grid__item widescreen--one-third  right-message product-single__sticky">

          <div class="product-single__meta">
            <div class="product-single__metabox">
            <div class="product-block product-block--header">
              {%- if settings.vendor_enable -%}
                <div class="product-single__vendor">
                  {%- assign vendor_handle = product.vendor | handleize -%}
                  {%- if collections[vendor_handle] != empty -%}
                    <a href="{{ routes.collections_url }}/{{ collections[vendor_handle].handle }}">
                      {{ collections[vendor_handle].title }}
                    </a>
                  {%- else -%}
                    {{ product.vendor | link_to_vendor }}
                  {%- endif -%}
                </div>
              {%- endif -%}

              {%- if isModal -%}
                <p class="h2 product-single__title">
                  {{ product.title }}
                </p>
              {% comment %}
              <a href="#looxReviews">
<div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
</a>{% endcomment %}

              {%- else -%}
<!--                 <h1 class="h2 product-single__title">
                  {%- unless product.empty? -%}
                    {{ product.title }}
                  {%- else -%}
                    {{ 'home_page.onboarding.product_title' | t }}
                  {%- endunless -%}
                </h1> -->
              {%- endif -%}

              <style>
.yotpo .yotpo-bottomline .yotpo-icon-star, .yotpo .yotpo-bottomline .yotpo-icon-half-star, .yotpo .yotpo-bottomline .yotpo-icon-empty-star {
    color: #FF9900;
}

</style>

<!--               <div class="yotpo bottomLine"
data-product-id="{{ product.id }}">
</div> -->

              {%- if sku_enable -%}
                <p data-sku class="product-single__sku">
                  {%- if current_variant.sku -%}
                    {{ current_variant.sku }}
                  {%- endif -%}
                </p>
              {%- endif -%}
            </div>

            <div data-product-blocks>

<div class="navbar_product_wrapper">
<div class="navbar_product_b page-width">
  <div class="navbar_product_title">
    {% if navbar_text != blank %}
      {{ navbar_text }}
    {% else %}
      Discover 1
    {% endif %}
  </div>
</div>
</div>

<script>
  $(function(){
    $(".navbar_product_title").click(function(){
    $("html, body").animate({
       scrollTop:0
  }, 500);
     });

    if($(window).width() > 992){
    $(window).scroll(function(){

    if ($(this).scrollTop() > $(".proshippinginfo-box").offset().top + 50) {

    $(".navbar_product_wrapper").addClass("active");

      $('.product-single__metabox').addClass("headactive");

   } else {
    $('.product-single__metabox').removeClass("headactive");
       $(".navbar_product_wrapper").removeClass("active");
   }
  });
    }
  });


</script>
              {%- capture form_id -%}AddToCartForm-{{ section_id }}-{{ product.id }}{%- endcapture -%}
              {%- for block in blocks -%}
                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}
                    {%- when 'pad_free_accessories' -%}
                    {% if block.settings.pad_fa_code != blank %}
                    <div class="product-block">
                      {{ block.settings.pad_fa_code }}
                    </div>
                    {% endif %}
                    {%- when 'save-popup' -%}
                    {% if block.settings.show_popup %}
                    <div class="popup-container">
                      <div class="popup-inner">
                        <div class="inner-top">
                          {% if block.settings.popup_image != blank %}
                          <img class="lazyload js"
                               src="{{ block.settings.popup_image | img_url: '1x' }}"
                               srcset="{{ block.settings.popup_image | img_url: '1500x' }}, {{ block.settings.popup_image | img_url: '960x' }}"
                               sizes="(max-width: 960px) 960px, 1500px"
                               alt="Save Popup Image"
                               width="{{ block.settings.popup_image.width }}"
                               height="{{ block.settings.popup_image.height }}"/>
                          {% endif %}
                          {% if block.settings.popup_title != blank %}
                          <h1 class="popup-title">{{ block.settings.popup_title }}</h1>
                          {% endif %}
                          <div class="popup-close-btn">
                            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <line x1="2.70711" y1="1.29289" x2="16.7071" y2="15.2929" stroke="white" stroke-width="2"/>
                              <line y1="-1" x2="19.799" y2="-1" transform="matrix(-0.707107 0.707107 0.707107 0.707107 16 2)" stroke="white" stroke-width="2"/>
                            </svg>
                          </div>
                        </div>
                        <div class="inner-bottom">
                          {% if block.settings.popup_desc != blank %}
                          <div class="bottom-content">
                            {{ block.settings.popup_desc }}
                          </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  {%- when 'reviews' -%}
                    <div class="product-block product-block--small">
                         {% comment %}
                      <a href="#shopify-product-reviews-{{ product.id }}">
                        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                      </a>{% endcomment %}
                       <a href="#looxReviews">
<div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
</a>
                    </div>
                  {%- when 'separator' -%}
                    <div class="product-block"><hr></div>
                  {%- when 'text' -%}
                    <div {{ block.shopify_attributes }} class="product-block">
                      {{ block.settings.text }}
                    </div>
                  {%- when 'tab' -%}
                    <div class="product-block product-block--tab" {{ block.shopify_attributes }}>
                      {% assign tab_id = block.id | append: product.id %}
                      {% capture tab_content %}
                        {% if block.settings.html != blank %}
                          {{ block.settings.html }}
                        {% else %}
                          {{ block.settings.content }}
                          {{ block.settings.page.content }}
                        {% endif %}
                      {% endcapture %}
                      {%- render 'tab', id: tab_id, title: block.settings.title, content: tab_content -%}
                    </div>
                  {%- when 'contact' -%}
                    <div class="product-block product-block--tab" {{ block.shopify_attributes }}>
                      {%- render 'tab-contact', block: block -%}
                    </div>
                  {%- when 'description' -%}
                    <div class="product-block{% if block.settings.is_tab %} product-block--tab{% endif %}" {{ block.shopify_attributes }}>
                      {%- assign id = block.id | append: product.id -%}
                      {%- render 'product-description', id: id, product: product, is_tab: block.settings.is_tab -%}
                    </div>
                  {%- when 'price' -%}
                    <div class="product-block product-block--price" {{ block.shopify_attributes }}>
                      {%- assign hide_sale_price = true -%}
                      {%- if sca_compare_at_price > sca_price -%}
                        {%- if current_variant.compare_at_price -%}
                          {%- assign hide_sale_price = false -%}
                        {%- endif -%}
                        <span
                          data-a11y-price
                          class="visually-hidden"
                          aria-hidden="{{ hide_sale_price }}">
                            {{ 'products.general.regular_price' | t }}
                        </span>
                        <span data-product-price-wrap class="{% if hide_sale_price %}hide{% endif %}">
                          <span data-compare-price class="product__price product__price--compare">
                            {%- if current_variant.compare_at_price > current_variant.price -%}
                              {{ current_variant.compare_at_price | money }}
                            {%- endif -%}
                          </span>
                        </span>
                        <span data-compare-price-a11y class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                      {%- else -%}
                        <span data-a11y-price class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                      {%- endif -%}

                      <span data-product-price
                        class="product__price{% if current_variant.compare_at_price > current_variant.price %} sale-price{% endif %} productbold-prices">
                        {%- unless product.empty? -%}
                          {{ current_variant.price | money }}
                        {%- else -%}
                          {{ 1999 | money }}
                        {%- endunless -%}
                      </span>

                      <div data-unit-price-wrapper class="product__unit-price{% unless current_variant.unit_price_measurement %} hide{% endunless %}">
                        {%- capture unit_price_base_unit -%}
                          <span data-unit-base>
                            {%- if current_variant.unit_price_measurement -%}
                              {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
                                {{ current_variant.unit_price_measurement.reference_value }}
                              {%- endif -%}
                              {{ current_variant.unit_price_measurement.reference_unit }}
                            {%- endif -%}
                          </span>
                        {%- endcapture -%}

                        <span data-unit-price>{{ current_variant.unit_price | money }}</span>/{{ unit_price_base_unit }}
                      </div>

                      {% if block.settings.html != blank %}
                        {{ block.settings.html }}
                        
                        <script>
                          // We can move this into theme editor's HTML block if we need to.
                          (function() {
                            function resizeBuyMoreBtn () {
                              const priceBlock = document.querySelector(".product-block.product-block--price")
                              const productPrice = document.querySelector("[data-product-price]")
                              const buyMoreBtn = document.querySelector(".product-save.product-save--special")
                              if(priceBlock && productPrice && buyMoreBtn) {
                                const width = priceBlock.getBoundingClientRect().right - productPrice.getBoundingClientRect().right
                                const gap = 24;
                                let newWidth = width - gap;
                                if(newWidth > 195) newWidth = 195;

                                // Product page specific: padding adjustment
                                if(newWidth < 160) {
                                  buyMoreBtn.style.padding = "8px"
                                  newWidth = 160                                  
                                }
                                else buyMoreBtn.style.padding="8px 15px"

                                buyMoreBtn.style.width = newWidth + "px"
                              }
                            }
                            // resizeBuyMoreBtn()
                            document.addEventListener("DOMContentLoaded", resizeBuyMoreBtn)
                            window.addEventListener("resize", resizeBuyMoreBtn)
                          })()
                        </script>
                      {% endif %}

                      {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                      {% comment %}
                        <div class="product__policies rte">
                          {%- if shop.taxes_included -%}
                            {{ 'products.product.include_taxes' | t }}
                          {%- endif -%}
                          {%- if shop.shipping_policy.body != blank -%}
                            {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                          {%- endif -%}
                        </div>
                      {% endcomment %}
                      {%- endif -%}
                    </div>
                  {%- when 'quantity_selector' -%}
                    <div class="product-block product-block--qty" {{ block.shopify_attributes }}>
                      <div class="product__quantity">
                        {% assign qty_id = section_id | append: product.id %}
                        <label for="Quantity-{{ qty_id }}">{{ 'products.product.quantity' | t }}</label>
                        {%- render 'quantity-input', form_id: form_id, id: qty_id, qty: 1, min: 1 -%}
                      </div>
                    </div>

                  {%- when 'sku_change_btn' -%}
                  {% if sku_switching %}
                    
                  <div class="sku-change-btn-wrapper">
                    <div>
                      <a href="{{ block.settings.p1.url }}" class="sku-change-btn {% if product == block.settings.p1 %} sku-change-btn--active{% endif %}">
                        {{ block.settings.btn_text_1 }}
                      </a>
                      <div class="sku-change-desc">
                        {{ block.settings.btn_desc_1 }}
                      </div>
                    </div>

                    <div>
                      <a href="{{ block.settings.p2.url }}" class="sku-change-btn {% if product == block.settings.p2 %} sku-change-btn--active{% endif %}">
                        {{ block.settings.btn_text_2 }}
                      </a>
                      <div class="sku-change-desc">
                        {{ block.settings.btn_desc_2 }}
                      </div>
                    </div>
                  </div>

                  {% endif %}

                  {%- when 'variant_picker' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      {% unless product.has_only_default_variant %}
                        {%- for option in product.options_with_values -%}

                          {%- liquid
                            if block.settings.color_swatches
                              assign is_color = false
                              assign color_option_index = 0
                              assign swatch_trigger = 'products.general.color_swatch_trigger' | t | downcase
                              assign color_option_index = forloop.index0
                              assign downcased_option = option.name | downcase
                              if downcased_option contains swatch_trigger
                                assign is_color = true
                              elsif swatch_trigger == 'color' and downcased_option contains 'colour'
                                assign is_color = true
                              endif
                            endif
                          -%}

                          {% if block.settings.picker_type == 'button' %}
                            {%- render 'variant-button',
                              product: product,
                              form_id: form_id,
                              section_id: section_id,
                              option: option,
                              forloop: forloop,
                              variant_labels: block.settings.variant_labels,
                              is_color: is_color,
                              color_option_index: color_option_index
                            -%}
                          {% else %}
                            {%- render 'variant-dropdown',
                              product: product,
                              form_id: form_id,
                              section_id: section_id,
                              option: option,
                              forloop: forloop,
                              variant_labels: block.settings.variant_labels
                            -%}
                          {% endif %}

                        {%- endfor -%}
                      {% endunless %}
                    </div>
                  {%- when 'custom_title' -%}
                    <div class="product-title-block">
                      {% if block.settings.title != blank %}
                        <h1 class="h2 product-single__title">{{ block.settings.title }}</h1>
                      {% endif %}
                      {% if block.settings.show_stock_label != blank  %}
                        <span class="pro_available {% if product.available %}In-Stock{% else %}Sold-Out{% endif %}">
                          {% if product.available and block.settings.in_stock_label != blank %}
                            {{ block.settings.in_stock_label }}
                          {% endif %}
                          {% if product.available == false and block.settings.out_stock_label != blank %}
                            {{ block.settings.out_stock_label }}
                          {% endif %}
                        </span>
                      {% endif %}
                    </div>
                  {%- when 'buy_buttons' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      {%- unless product.empty? -%}
                        <div class="product-block">
                          {%- render 'product-form',
                            form_id: form_id,
                            section_id: section_id,
                            product: product,
                            show_dynamic_checkout: block.settings.show_dynamic_checkout,
                            current_variant: current_variant,
                            show_atc_button: true,
                            atc_button_classes: "btn--full add-to-cart"
                          -%}
                        </div>
                      {%- endunless -%}

                      {%- if block.settings.surface_pickup_enable -%}
                        <div data-store-availability-holder
                          data-product-name="{{ product.title | escape }}"
                          data-base-url="{{ shop.url }}{{ routes.root_url }}"
                          ></div>
                      {%- endif -%}
                    </div>
                  {%- when 'sales_point' -%}
                    {%- unless block.settings.text == blank -%}
                      <div class="product-block product-block--sales-point" {{ block.shopify_attributes }}>
                        <ul class="sales-points">
                          <li class="sales-point">
                            <span class="icon-and-text">
                              {% case block.settings.icon %}
                                {% when 'checkmark' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-circle-checkmark" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="cls-1" d="M52.68 24.48A22 22 0 1 1 47 15.93M21 32l8.5 8.5L57 13"/></svg>
                                {% when 'globe' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-globe" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-width:2px}</style></defs><circle class="cls-1" cx="33" cy="32" r="22"/><path class="cls-1" d="M14 21h38M11 32h44M14 43h38M33 10c-12 8-12 37 0 44M33 10c12 8 12 37 0 44"/></svg>
                                {% when 'leaf' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-leaf" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M51 12L13 50M35 13v15h16"/><path class="cls-1" d="M52 11c6 24-16.72 47.29-33 32C7 22 29 10 52 11z"/></svg>
                                {% when 'package' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-package" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="cls-1" d="M32 56L9.05 42.88V22.12L32 9l22.95 13.12v20.76L32 56z"/><path class="cls-1" d="M32 56V35.23l22.95-13.11M32 35.23L9.05 22.12M42.13 14.79L20.52 28.67v8.75"/></svg>
                                {% when 'lock' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-lock" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-width:2px}</style></defs><path id="svg_2" data-name="svg 2" class="cls-1" d="M20.48 24v-3c0-6.6 5.52-11 11.76-11C39 10 44 15.13 44 21v3"/><path id="svg_4" data-name="svg 4" class="cls-1" d="M11.62 24h41.25v29.77H11.62z"/><path class="cls-1" d="M32.24 37v7"/><circle class="cls-1" cx="32.24" cy="35.5" r="1.5"/></svg>
                                {% when 'truck' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-truck" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M17 47.72H7.38V21h33.14v26.72H24.44M45.92 47.72h-5.4V34.9h17.1v12.82h-4.23M57.62 34.9l-6.41-8.56H40.52"/><circle class="cls-1" cx="20.74" cy="48.26" r="3.74"/><path class="cls-1" d="M45.92 47.73a3.82 3.82 0 1 1 0 .37v-.37"/></svg>
                                {% when 'warranty'%}<img src="https://cdn.shopify.com/s/files/1/0599/2094/1239/files/icon-warranty.png?v=1642489178"/>
                              {% endcase %}
                              <span>{{ block.settings.text }}</span>
                            </span>
                          </li>
                        </ul>
                      </div>
                    {%- endunless -%}
                  {%- when 'inventory_status' -%}
                    <div class="product-block product-block--sales-point" {{ block.shopify_attributes }}>
                      {%- render 'product-inventory', product: product, current_variant: current_variant, block: block -%}
                    </div>
                  {%- when 'share' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      {%- render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product -%}
                    </div>
                  {%- when 'trust_badge' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      <div class="aos-animate" style="max-width: {{ block.settings.trust_image.width }}px; margin: 0 auto;">
                        <div class="image-wrap " style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.trust_image.aspect_ratio }}%;">
                          {%- assign img_url = block.settings.trust_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                          <img class="lazyload"
                              data-src="{{ img_url }}"
                              data-widths="[360, 540, 700, 1024]"
                              data-aspectratio="{{ block.settings.trust_image.aspect_ratio }}"
                              data-sizes="auto"
                              alt="{{ block.settings.trust_image.alt }}">
                          <noscript>
                            <img class="lazyloaded" src="{{ block.settings.trust_image | img_url: '540x' }}" alt="{{ block.settings.trust_image.alt }}">
                          </noscript>
                        </div>
                      </div>
                    </div>
                  {%- when 'custom' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      {{ block.settings.code }}
                    </div>

              {%- when 'payment'-%}
              <div class="product-block" {{ block.shopify_attributes }}>
                {% if block.settings.display_payment_1 %}
                <img src="{{ block.settings.payment_image_1 | img_url:'master' }}" height="27" alt="visa" />
                {% endif %}
                {% if block.settings.display_payment_2 %}
                <img src="{{ block.settings.payment_image_2 | img_url:'master' }}" height="27" alt="master" />
                {% endif %}
                {% if block.settings.display_payment_3 %}
                <img src="{{ block.settings.payment_image_3 | img_url:'master' }}" height="27" alt="american express" />
                {% endif %}

                {% if block.settings.display_payment_4 %}
                <img src="{{ block.settings.payment_image_4 | img_url:'master' }}" height="27" alt="discover" />
                {% endif %}

                {% if block.settings.display_payment_5 %}
                <img src="{{ block.settings.payment_image_5 | img_url:'master' }}" height="27" alt="jcb" />
                {% endif %}

                {% if block.settings.display_payment_6 %}
                <img src="{{ block.settings.payment_image_6 | img_url:'master' }}" height="27" alt="diners club" />
                {% endif %}

              </div>
                {%- endcase -%}
              {%- else -%}
                <div data-blocks-holder
                     data-url="{{ product.url | within: collection }}"
                     data-template="{{ product.template_suffix }}">
                  <div class="placeholder-content" style="min-height: 86px;"></div>
                </div>
              {%- endfor -%}
            </div>
             </div>
          </div>
        </div>
    </div>
    </div>
  </div>

<!--    <div class="yotpo yotpo-main-widget"
data-product-id="{{ product.id }}"
data-name="{{ product.title | escape }}"
data-url="{{ shop.url }}{{ product.url }}"
data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
data-price="{{ variant.price | money_without_currency }}"
data-currency="{{ shop.currency }}"
data-description="{{ product.description | escape }}">
</div> -->

</div>




