{% if section.settings.show_section %}
<div class="affliate-banner affliate-banner-{{ section.id }}">
  {% if section.settings.pc_image != blank %}
  <img class="lazyload js pad-down--hide"
       src="{{ section.settings.pc_image | img_url: '1x' }}"
       srcset="{{ section.settings.pc_image | img_url: '1500x' }}, {{ section.settings.pc_image | img_url: '960x' }}"
       sizes="(max-width: 960px) 960px, 1500px" 
       alt="PC Affliate Banner"
       width="{{ section.settings.pc_image.width }}" 
       height="{{ section.settings.pc_image.height }}"/>
  {% endif %}
  {% if section.settings.mb_image != blank %}
  <img class="lazyload js pad-up--hide"
       src="{{ section.settings.mb_image | img_url: '1x' }}"
       srcset="{{ section.settings.mb_image | img_url: '1500x' }}, {{ section.settings.mb_image | img_url: '960x' }}"
       sizes="(max-width: 960px) 960px, 1500px" 
       alt="Mobile Affliate Banner"
       width="{{ section.settings.mb_image.width }}" 
       height="{{ section.settings.mb_image.height }}"/>
  {% else %}
  <img class="lazyload js pad-up--hide"
       src="{{ section.settings.pc_image | img_url: '1x' }}"
       srcset="{{ section.settings.pc_image | img_url: '1500x' }}, {{ section.settings.pc_image | img_url: '960x' }}"
       sizes="(max-width: 960px) 960px, 1500px" 
       alt="Mobile Affliate Banner"
       width="{{ section.settings.pc_image.width }}" 
       height="{{ section.settings.pc_image.height }}"/>
  {% endif %}

  {% if section.settings.title != blank or section.settings.desc != blank %}
  <div class="content-container">
    {% if section.settings.title != blank %}
      <h2 class="title-box pro-titles">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.desc != blank %}
      <div class="desc-box normal-text">{{ section.settings.desc }}</div>
    {% endif %}
    {% if section.settings.button_link != blank %}
      <a class="button-box middle-text btn" href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endif %}

{% schema %}
  {
    "name": "Affliate Banner",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_section",
        "label": "Show Section?",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "pc_image",
        "label": "PC Image",
        "info": "Image Size: 2560*1130px"
      },
      {
        "type": "image_picker",
        "id": "mb_image",
        "label": "Mobile Image",
        "info": "Image Size: 1170*1900px"
      },
      {
        "type": "html",
        "id": "title",
        "label": "Title",
        "default": "Become a <br><span>yeedi Affiliate</span> Today."
      },
      {
        "type": "html",
        "id": "desc",
        "label": "Description",
        "default": "Promote yeedi and earn more from your <br>traffic and audience. "
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Join Now"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link",
        "default": "/"
      }
    ],
    "presets": [
      {
        "name": "Affliate Banner"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}