
<div class="mopprotxtoverimg-container">
      <div class="mopprotxtoverimg-text">
  {% if section.settings.title != blank %}
  <div class="mopprotxtoverimg-title">{{ section.settings.title }}</div>
  {% endif %}
  {% if section.settings.content != blank %}
  <div class="mopprotxtoverimg-content small-hide">{{ section.settings.content }}</div>
    <div class="mopprotxtoverimg-content medium--up-hide">{{ section.settings.content_mobile }}</div>
  {% endif %}
      
  </div>
  {% if section.settings.image %}
  <div class="mopprotxtoverimg-img">
  <img class="small-hide lazyload" src="{{ section.settings.image | img_url:'10x' }}" data-src="{{ section.settings.image | img_url:'master' }}"/>
  <img class="medium--up-hide lazyload" src="{{ section.settings.image_mb | img_url:'10x' }}" data-src="{{ section.settings.image_mb | img_url:'master' }}"/>
  </div>
{% endif %}


  
</div>
{% schema %}
  {
    "name": "Moppro Textoverimage",
    "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image(Recommended size：1920*px)"
          },{
            "type": "image_picker",
            "id": "image_mb",
            "label": "Image Mobile(Recommended size：750*px)"
          },{
            "type": "html",
            "id": "title",
            "label": "title"
          },{
            "type": "richtext",
            "id": "content",
            "label": "content"
          },{
            "type": "richtext",
            "id": "content_mobile",
            "label": "content mobile"
          }
    ],

    "presets": [
      {
        "name": "Moppro Textoverimage",
        "category": "Ho-Advance"
      }
    ]
  }
{% endschema %}
