<div class="pi_toptextbottomimg">
  <div class="pi_container">
    <div class="text-wrapper pi_textcenter_pc">
      {% if section.settings.title != blank %}
      <h2 class="pi_textoverimage-title">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.content != blank %}
      <div class="pi_textoverimage-content">{{ section.settings.content }}</div>
      {% endif %}
    </div>
    <div class="image-wrapper">
      <img class="small-hide" src="{{ section.settings.image | img_url:'master' }}"/>
      <img class="medium--up-hide" src="{{ section.settings.image_mb01 | img_url:'master' }}"/>
      <img class="medium--up-hide" src="{{ section.settings.image_mb02 | img_url:'master' }}"/>
    </div>
  </div>
</div>

<style>
  .collection-twoimage_text{ background:{{section.settings.bg_color}};}
  .collection-twoimage_text .text-wrapper h2{color:{{section.settings.title_color}}; }
  .collection-twoimage_text .text-wrapper .text{color:{{section.settings.text_color}}; }
</style>

{% schema %}
  {
    "name": "PI TopText BottomImg",
    "settings": [
          {
            "type": "html",
            "id": "title",
            "label": "title"
          },{
            "type": "html",
            "id": "content",
            "label": "content"
          },{
            "type": "image_picker",
            "id": "image",
            "label": "Image(Recommended size：1580*710px)"
          },{
            "type": "image_picker",
            "id": "image_mb01",
            "label": "Image01 Mobile(Recommended size：750*px)"
          },{
            "type": "image_picker",
            "id": "image_mb02",
            "label": "Image02 Mobile(Recommended size：750*px)"
          }
     ], 
    "presets": [
         {
            "name": "PI TopText BottomImg",
            "category": "Ho-Advance"
         }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
