<div class="Spring-video-outbox">
  
    {% if section.settings.sec_title != blank %}
  <div class="Spring-videooutbox-title">
    {{ section.settings.sec_title }}
    </div>
   {% endif %}
<div class="Spring-video-container">
  

   {% if section.settings.video_youtubeurl != blank %}
       <div class="Spring-video-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ section.settings.video_youtubeurl.id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
  <script defer>
  $(function(){
    $(".sp-video-playbtn").click(function(){
      $(".Spring-videotext-box").css("z-index","0");

    });

       $("body").bind("click",function(evt){ 
  if($(evt.target).closest(".Spring-video-container").length==0)
  { 
          $(".Spring-videotext-box").css("z-index","2");
  } 
}); 
  });
  </script>
  {% else %}
    <div class="Spring-video-wrapper">
   <video id="video_spring" width="100%" loop="loop" controls webkit-playsinline="true" playsinline="true" muted >
    <source src="{{  section.settings.video_url }}">
  </video>
    </div>
  <script defer>
  $(function(){
    $(".sp-video-playbtn").click(function(){
      $("#video_spring").trigger('play');
      $(".Spring-videotext-box").css("z-index","0");

    });

       $("body").bind("click",function(evt){ 
  if($(evt.target).closest(".Spring-video-container").length==0)
  { 
    $("#video_spring").trigger('pause');
          $(".Spring-videotext-box").css("z-index","2");
  } 
}); 
  });
  </script>
   {% endif %}
    
   <div class="Spring-videotext-box">
  {% if section.settings.image %}
    <img class="sp-video-bg medium-down--hide" src="{{ section.settings.image | img_url:'master' }}"/>
      <img class="sp-video-bg large-up--hide" src="{{ section.settings.image_mobile | img_url:'master' }}"/>
  {% endif %}

    {% if section.settings.image_play %}
    <img class="sp-video-playbtn" src="{{ section.settings.image_play | img_url:'master' }}"/>
  {% endif %}
   {% if section.settings.bottombtn_text != blank %}
  <a class="sp-videolink-btn medium-down--hide" href="{{ section.settings.bottombtn_url }}">{{ section.settings.bottombtn_text }} <svg width="34" viewBox="0 0 34 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.77271 7.63663C1.17021 7.63663 0.681796 8.12505 0.681796 8.72754C0.681796 9.33003 1.17021 9.81845 1.77271 9.81845V7.63663ZM33.0895 9.49893C33.5156 9.0729 33.5156 8.38218 33.0895 7.95615L26.147 1.01365C25.721 0.587621 25.0303 0.587621 24.6043 1.01365C24.1782 1.43967 24.1782 2.1304 24.6043 2.55643L30.7754 8.72754L24.6043 14.8987C24.1782 15.3247 24.1782 16.0154 24.6043 16.4414C25.0303 16.8675 25.721 16.8675 26.147 16.4414L33.0895 9.49893ZM1.77271 9.81845H32.3182V7.63663H1.77271V9.81845Z" fill="white"/>
</svg>
</a>
   {% endif %}
</div> 
</div>
   {% if section.settings.bottombtn_text != blank %}
  <a class="sp-videolink-btn large-up--hide" href="{{ section.settings.bottombtn_url }}">{{ section.settings.bottombtn_text }} <svg width="34" viewBox="0 0 34 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.77271 7.63663C1.17021 7.63663 0.681796 8.12505 0.681796 8.72754C0.681796 9.33003 1.17021 9.81845 1.77271 9.81845V7.63663ZM33.0895 9.49893C33.5156 9.0729 33.5156 8.38218 33.0895 7.95615L26.147 1.01365C25.721 0.587621 25.0303 0.587621 24.6043 1.01365C24.1782 1.43967 24.1782 2.1304 24.6043 2.55643L30.7754 8.72754L24.6043 14.8987C24.1782 15.3247 24.1782 16.0154 24.6043 16.4414C25.0303 16.8675 25.721 16.8675 26.147 16.4414L33.0895 9.49893ZM1.77271 9.81845H32.3182V7.63663H1.77271V9.81845Z" fill="white"/>
</svg>
</a>
   {% endif %}

<div class="bottom-spvideo-container">
  
     {% for block in section.blocks %}
    <div class="bottom-spvideo-item {% if block.settings.position == 'right' %} spvideo-item-rights {% endif %}">
  <div class="spvideo-item-img">

    {% if block.settings.image %}
    <img src="{{ block.settings.image | img_url:'master' }}"/>
   {% endif %}

  </div>
  
  
  <div class="spvideo-item-text">

    {% if block.settings.title != blank %}
  <div class="spvideo-item-title">{{ block.settings.title }}</div>
   {% endif %}
  
    {% if block.settings.content != blank %}
  <div class="spvideo-item-content">{{ block.settings.content }}</div>
   {% endif %}
  
   {% if block.settings.url_text != blank %}
    <a class="spvideo-item-btn btn_ho02" href="{{ block.settings.url_link }}"><span>{{ block.settings.url_text }}</span></a>
   {% endif %}
    
    
  </div>

  </div>
  
  {% endfor %}

  
</div>
</div>


{% schema %}
  {
    "name": "SpringSale Video",
    "settings": [
          {
            "type": "text",
            "id": "sec_title",
            "label": "Section Title"
          },{
            "type": "image_picker",
            "id": "image",
            "label": "image"
          },{
            "type": "image_picker",
            "id": "image_mobile",
            "label": "image mobile"
          },{
            "type": "text",
            "id": "video_url",
            "label": "video_url"
          },{
        "type": "video_url",
        "id": "video_youtubeurl",
        "label": "Youtube Video link",
        "accept": ["youtube", "vimeo"]
      },{
            "type": "image_picker",
            "id": "image_play",
            "label": "image_play(Recommended size：80*80px)"
          },{
            "type": "text",
            "id": "bottombtn_text",
            "label": "url_text"
          },{
            "type": "url",
            "id": "bottombtn_url",
            "label": "url"
          }
    ],
    "blocks": [
      {
        "type": "Block",
        "name": "Block",
        "settings": [
          {
        "type": "select",
        "id": "position",
        "label": "Image Position",
          "default": "left",
        "options": [
          {
            "value": "left",
            "label": "left"
          },
          {
            "value": "right",
            "label": "right"
          }
        ]
      },{
            "type": "image_picker",
            "id": "image",
            "label": "image(Recommended size：1050*675px)"
          },{
            "type": "text",
            "id": "title",
            "label": "title"
          },{
            "type": "text",
            "id": "content",
            "label": "content"
          },{
            "type": "text",
            "id": "url_text",
            "label": "url_text"
          },{
            "type": "url",
            "id": "url_link",
            "label": "url"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SpringSale Video",
        "category": "Ho-Advance"
 
      }
    ]
  }
{% endschema %}

