
<div class="vac2lefttext-container">
    <div class="vac2lefttext-text">
  {% if section.settings.title != blank %}
  <div class="vac2lefttext-title">{{ section.settings.title }}</div>
  {% endif %}
  {% if section.settings.content != blank %}
  <div class="vac2lefttext-content">{{ section.settings.content }}</div>
  {% endif %}
   
  <div class="vac2lefttext-botlogo">
    <div class="vac2lefttext-botlogo-item01">
    {% if section.settings.logoimg01 %}
      <img src="{{ section.settings.logoimg01 | img_url:'master' }}"/>
    {% endif %}
      <div class="vac2lefttext-botitlte"> {{ section.settings.logotitle01 }}</div>
    </div>   
        <div class="vac2lefttext-botlogo-item02">
    {% if section.settings.logoimg02 %}
      <img src="{{ section.settings.logoimg02 | img_url:'master' }}"/>
    {% endif %}
    </div>   
        <div class="vac2lefttext-botlogo-item03">
    {% if section.settings.logoimg03 %}
      <img src="{{ section.settings.logoimg03 | img_url:'master' }}"/>
    {% endif %}
          <div class="vac2lefttext-botitlte">{{ section.settings.logotitle03 }}</div>
    </div>   
  </div>  
      

  </div>
  <div class="vac2lefttext-image">
{% if section.settings.video_url %}
  <video class="small-hide" width="100%" loop="loop" autoplay="autoplay" webkit-playsinline="true" playsinline="true" muted >
    <source src="{{  section.settings.video_url }}">
  </video>
  <video class="medium--up-hide" width="100%" loop="loop" autoplay="autoplay" webkit-playsinline="true" playsinline="true" muted >
    <source src="{{  section.settings.video_mburl }}">
  </video>
<!--   <img class="small-hide" src="{{ section.settings.image | img_url:'master' }}"/>
  <img class="medium--up-hide" src="{{ section.settings.image_mb | img_url:'master' }}"/> -->
{% endif %}
  </div>
  
</div>
{% schema %}
  {
    "name": "Vac2pro Rightvideo",
    "settings": [
          {
            "type": "text",
            "id": "video_url",
            "label": "video_url"
          },{
            "type": "text",
            "id": "video_mburl",
            "label": "video_url"
          },{
            "type": "html",
            "id": "title",
            "label": "title"
          },{
            "type": "richtext",
            "id": "content",
            "label": "content"
          },{
            "type": "image_picker",
            "id": "logoimg01",
            "label": "Image Logo01"
          },{
            "type": "text",
            "id": "logotitle01",
            "label": "logotitle01"
          },{
            "type": "image_picker",
            "id": "logoimg02",
            "label": "Image Logo02"
          },{
            "type": "image_picker",
            "id": "logoimg03",
            "label": "Image Logo03"
          },{
            "type": "text",
            "id": "logotitle03",
            "label": "logotitle03"
          }
    ],

    "presets": [
      {
        "name": "Vac2pro Rightvideo",
        "category": "Ho-Advance"
      }
    ]
  }
{% endschema %}
