 <div class="Paswitch-outbox">
<div class="Paswitch-leftwrapper">
  {% if section.settings.title != blank %}
  <div class="Paswitch-title">{{ section.settings.title }}</div>
  {% endif %}

  {% if section.settings.content != blank %}
  <div class="Paswitch-content">{{ section.settings.content }}</div>
  {% endif %}
  {% if section.settings.btntext != blank %}
  <a class="Parkinson-banner-btn" href="{{ section.settings.btnurl }}">{{ section.settings.btntext }}</a>
  {% endif %} 
  </div>

 <div class="Paswitch-rightwrapper">
  <div class="Paswitch-rightboxover">
  <div class="Paswitch-rightbox-nav">
   {% for block in section.blocks %}
     {% if block.settings.title != blank %}
   <div class="Paswitch-nav-item Paswitch-nav-item-{{forloop.index0}}">
     {{ block.settings.title }}
   </div>
    {% endif %}
   {% endfor %}
  </div>
   <div class="Paswitch-rightbox-content">
     
     
   {% for block in section.blocks %}
     {% if block.settings.content != blank and forloop.first %}
   <div class="Paswitch-content-item Paswitch-content-item-{{forloop.index0}}">
     {{ block.settings.content }}
   </div>
    {% endif %}
   {% endfor %}
   </div>
  </div>
     {% if section.settings.note != blank %}
  <div class="Parkinson-banner-note">{{ section.settings.note }}</div>
  {% endif %}
  </div>
</div>


{% schema %}
  {
    "name": "Parkinson Switch",
    "settings": [
          {
            "type": "html",
            "id": "title",
            "label": "title"
          },{
            "type": "richtext",
            "id": "content",
            "label": "content"
          },{
            "type": "text",
            "id": "btntext",
            "label": "btntext"
          },{
            "type": "url",
            "id": "btnurl",
            "label": "btnurl"
          },{
            "type": "html",
            "id": "note",
            "label": "note"
          }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "title"
          },{
            "type": "html",
            "id": "content",
            "label": "content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Parkinson Switch",
        "category": "Ho-Advance"
 
      }
    ]
  }
{% endschema %}

