{%- liquid
  assign per_row = section.settings.per_row
  assign product_limit = per_row | times: 3
  assign collection1 = collections[section.settings.collection1]
  assign collection2 = collections[section.settings.collection2]
  assign collection3 = collections[section.settings.collection3]
  
  assign collection1_title = collection1.title
  assign collection2_title = collection2.title
  assign collection3_title = collection3.title

  assign emptyState = false
  if collection1.empty? and collection2.empty? and  collection3.empty?
    assign emptyState = true
  endif

  assign fcw1_num=0
  assign fcw2_num=0
  assign fcw3_num=0
  
  assign show_discount = false
  if section.settings.show_discount?
  assign show_discount = true
  endif
  
-%}



<div
     id="CollectionSection-{{ section.id }}"
     data-section-id="{{ section.id }}"
     data-section-type="collection-switcher"
     data-per-row="{{ per_row }}"
     class="collection-switcher-wrapper">
<div class="container">
  <div class="featured-section-header">
    <ul class="nav-tab">
      {%- unless collection1.empty? -%}
      <li class="collection-switcher__title">
        <a href="javascript:void(0)" id="one1" class="active" onclick="setTab('one',1,3)"><h2>{{ section.settings.title01 }}</h2></a>
      </li>
      {%- endunless -%}
      {%- unless collection2.empty? -%}
      <li class="collection-switcher__title">
        <a href="javascript:void(0)" id="one2" onclick="setTab('one',2,3)"><h2>{{ section.settings.title02 }}</h2></a>
      </li>
      {%- endunless -%}
      {%- unless collection3.empty? -%}
      <li class="collection-switcher__title">
        <a href="javascript:void(0)" id="one3" onclick="setTab('one',3,3)"><h2>{{ section.settings.title03 }}</h2></a>
      </li>
      {%- endunless -%}
    </ul>

    {%- if emptyState -%}
    {%- for i in (1..2) -%}
    <h3 class="collection-switcher__title">
      <a href="#"
         class="collection-switcher__trigger js-no-transition{% if i == 1 %} is-active {% endif %}"
         aria-controls="collection{{ i }}-{{ section.id }}">
        {{ 'home_page.onboarding.collection_title' | t }} {{ i }}
      </a>
    </h3>
    {%- endfor -%}
    {%- endif -%}
  </div>


  {%- liquid
    assign grid_item_width = ' '

  -%}

  <div class="tab-content">
    {%- unless collection1.empty? -%}
    <section class="subbox" id="con_one_1" style="display:block;">
      <div id="collection1-{{ section.id }}" class="collection-switcher__collection mb-content-fold" data-index="0" style="display:block;">
        <div id="CollectionSwitcher1-{{ section.id }}"
             data-per-row="{{ per_row }}">
          <div class="fcw-inner">
            <div class="swiper-container fcw1-swiper-container">
              <div class="swiper-wrapper">
                {%- for product in collection1.products limit: product_limit -%}
                {%assign fcw1_num=fcw1_num|plus:1%}
                <div class="swiper-slide">
                  {%- render 'product-card-list-switcher', product: product, grid_item_width: grid_item_width, per_row: per_row, collection_title: collection1_title -%}
                </div>   
                {%- endfor -%}
              </div>
            </div>

            {%- unless collection1.empty? -%}
            <div class="pc-show">
              <div class="swiper-button-prev fcw-swiper-button-prev fcw1-swiper-button-prev">{%- render 'icon-svg',icon_svg: 'product-switch-arrow' -%} </div>
              <div class="swiper-button-next fcw-swiper-button-next fcw1-swiper-button-next">{%- render 'icon-svg',icon_svg: 'product-switch-arrow' -%} </div>
            </div>
            <div class="mb-show">
              <div class="swiper-scrollbar swiper-scrollbar01"></div>
            </div>
            {%endunless%}
          </div>
        </div>
      </div>
    </section>
    {%- endunless -%}

    {%- unless collection2.empty? -%}
    <section class="subbox" id="con_one_2">
      <div id="collection2-{{ section.id }}" class="collection-switcher__collection mb-content-fold" data-index="1">
        <div id="CollectionSwitcher2-{{ section.id }}"
             data-per-row="{{ per_row }}">
          <div class="fcw-inner">
            <div class="swiper-container fcw2-swiper-container">
              <div class="swiper-wrapper">
                {%- for product in collection2.products limit: product_limit -%}
                {%assign fcw2_num=fcw2_num|plus:1%}
                <div class="swiper-slide">     
                  {%- render 'product-card-list-switcher', product: product, grid_item_width: grid_item_width, per_row: per_row, collection_title: collection2_title -%}
                </div>  
                {%- endfor -%}
              </div>
            </div>
            {%- unless collection2.empty? -%}
            <div class="pc-show">
              <div class="swiper-button-prev fcw-swiper-button-prev fcw2-swiper-button-prev">{%- render 'icon-svg',icon_svg: 'product-switch-arrow' -%}</div>
              <div class="swiper-button-next fcw-swiper-button-next fcw2-swiper-button-next">{%- render 'icon-svg',icon_svg: 'product-switch-arrow' -%}</div>
            </div>
            <div class="mb-show">
              <div class="swiper-scrollbar swiper-scrollbar02"></div>
            </div>
            {%endunless%}
          </div>
        </div>
      </div>
    </section>
    {%- endunless -%}

    {%- unless collection3.empty? -%}
    <section class="subbox" id="con_one_3">
      <div id="collection3-{{ section.id }}" class="collection-switcher__collection mb-content-fold" data-index="2">
        <div id="CollectionSwitcher3-{{ section.id }}"
             data-per-row="{{ per_row }}">
          <div class="fcw-inner">
            <div class="swiper-container fcw3-swiper-container">
              <div class="swiper-wrapper">
                {%- for product in collection3.products limit: product_limit -%}
                {%assign fcw3_num=fcw3_num|plus:1%}
                <div class="swiper-slide">     
                  {%- render 'product-card-list-switcher', product: product, grid_item_width: grid_item_width, per_row: per_row, collection_title: collection3_title -%}
                </div>  
                {%- endfor -%}
              </div>
            </div>
            {%- unless collection3.empty? -%}
            <div class="pc-show">
              <div class="swiper-button-prev fcw-swiper-button-prev fcw3-swiper-button-prev">{%- render 'icon-svg',icon_svg: 'product-switch-arrow' -%}</div>
              <div class="swiper-button-next fcw-swiper-button-next fcw3-swiper-button-next">{%- render 'icon-svg',icon_svg: 'product-switch-arrow' -%} </div>
            </div>
            <div class="mb-show">
              <div class="swiper-scrollbar swiper-scrollbar03"></div>
            </div>
            {%endunless%}
          </div>
        </div>
      </div>
    </section>
    {%- endunless -%}

    {%- if emptyState -%}
    {%- for i in (1..2) -%}
    <div id="collection{{i}}-{{ section.id }}" class="collection-switcher__collection{% if i == 2 %} hide{% endif %}">
      <div
           id="CollectionSwitcher{{ i }}-{{ section.id }}"
           class="grid "
           data-per-row="{{ per_row }}">
        {%- for i in (1..per_row) -%}
        <div class="grid__item grid-product {{ grid_item_width }}" data-aos="row-of-{{ per_row }}">
          <div class="grid-product__content">
            <a href="#" class="grid-product__link">
              <div class="grid-product__image-mask">
                {%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                <div class="image-wrap">{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}</div>
              </div>
              <div class="grid-product__meta">
                <div class="grid-product__title">{{ 'home_page.onboarding.product_title' | t }}</div>
                <div class="grid-product__price">$29</div>
              </div>
            </a>
          </div>
        </div>
        {%- endfor -%}
      </div>

    </div>
    {%- endfor -%}
    {%- endif -%}
  </div>
</div>
</div>

 {%- unless section.settings.show_discount -%} 
<style>
 .collection-switcher-section .fcw-inner .product-card-bg .product-card .product_badges .sale-badge{ display:none;}
</style>
{%- endunless -%}

<script type="text/javascript" async> 
  function setTab(name,cursel,n)
  {for(i=1;i<=n;i++){  
    var menu=document.getElementById(name+i); 
    if (menu){
      var con=document.getElementById("con_"+name+"_"+i);
      menu.className=i==cursel?"active":"";
      con.style.display=i==cursel?"block":"none";
    }
  }}
</script> 

<!--<script>
  $(function(){
  var maxheight = 0;
  $(".collection-switcher-section .product-title").each(function(){
    if(maxheight < $(this).innerHeight()) 
      maxheight = $(this).innerHeight();
  });
  $(".collection-switcher-section .product-title").css({"height": maxheight + "px"});
});
</script>-->

<script>
  var fcw1Swiper = new Swiper('.fcw1-swiper-container', {
    slidesPerView: {{per_row}}, 
    slidesPerGroup:  {{per_row}}, 
    observer:true,
    observeParents:true,
    spaceBetween : 20,
    navigation: {
      nextEl: '.fcw1-swiper-button-next',
      prevEl: '.fcw1-swiper-button-prev',
    },
    scrollbar: {
      el: '.swiper-scrollbar01',
      draggable: true,
      dragSize: 100,
    },
//                               {%if fcw1_num<=per_row%}
//                               allowTouchMove: false,
//                               {%endif%}

                              breakpoints: {
                              1400: {  
                              slidesPerView: 4,
                              slidesPerGroup : 4,

                              {%if fcw1_num<=2%}
                              allowTouchMove: false,
                              {%endif%}
                              },
                              1025: {  
                              slidesPerView: 3,
                              slidesPerGroup : 3,

                              {%if fcw1_num<=2%}
                              allowTouchMove: false,
                              {%endif%}
                              },
                              768: {  
                              slidesPerView: 2,
                              slidesPerGroup : 2,

                              {%if fcw1_num<=2%}
                              allowTouchMove: false,
                              {%endif%}

                              }
                              }

                              })


  var fcw2Swiper = new Swiper('.fcw2-swiper-container', {
    slidesPerView : {{per_row}}, 
    slidesPerGroup :  {{per_row}}, 
    observer:true,
    observeParents:true,
    spaceBetween : 20,
    navigation: {
      nextEl: '.fcw2-swiper-button-next',
      prevEl: '.fcw2-swiper-button-prev',
    },
    scrollbar: {
      el: '.swiper-scrollbar02',
      draggable: true,
      dragSize: 100,
    },
//                               {%if fcw1_num<=per_row%}
//                               allowTouchMove: false,
//                               {%endif%}

                              breakpoints: {
                              1400: {  
                              slidesPerView: 4,
                              slidesPerGroup : 4,

                              {%if fcw1_num<=2%}
                              allowTouchMove: false,
                              {%endif%}
                              },
                              1025: {  
                              slidesPerView: 3,
                              slidesPerGroup : 3,

                              {%if fcw1_num<=2%}
                              allowTouchMove: false,
                              {%endif%}
                              },
                              768: {  
                              slidesPerView: 2,
                              slidesPerGroup : 2,

                              {%if fcw1_num<=2%}
                              allowTouchMove: false,
                              {%endif%}

                              }
                              }

                              })
  
  
  
  var fcw3Swiper = new Swiper('.fcw3-swiper-container', {
    slidesPerView : {{per_row}}, 
    slidesPerGroup :  {{per_row}}, 
    observer:true,
    observeParents:true,
    spaceBetween : 20,
    navigation: {
      nextEl: '.fcw3-swiper-button-next',
      prevEl: '.fcw3-swiper-button-prev',
    },
    scrollbar: {
      el: '.swiper-scrollbar03',
      draggable: true,
      dragSize: 100,
    },
//                               {%if fcw1_num<=per_row%}
//                               allowTouchMove: false,
//                               {%endif%}

                              breakpoints: {
                              1400: {  
                              slidesPerView: 4,
                              slidesPerGroup : 4,

                              {%if fcw1_num<=2%}
                              allowTouchMove: false,
                              {%endif%}
                              },
                              1025: {  
                              slidesPerView: 3,
                              slidesPerGroup : 3,

                              {%if fcw1_num<=2%}
                              allowTouchMove: false,
                              {%endif%}
                              },
                              768: {  
                              slidesPerView: 2,
                              slidesPerGroup : 2,

                              {%if fcw1_num<=2%}
                              allowTouchMove: false,
                              {%endif%}

                              }
                              }

                              })
</script>


{% schema %}
  {
    "name": "Collection switcher",
    "class": "collection-switcher-section",
    "settings": [
      {
        "type": "text",
        "id": "title01",
        "label": "Collection01 Heading",
        "default": "NEW PRODUCTS"
      },
      {
        "id": "collection1",
        "type": "collection",
        "label": "Collection01"
      },
      {
        "type": "text",
        "id": "title02",
        "label": "Collection02 Heading",
        "default": "BEST SELLERS"
      },
      {
        "id": "collection2",
        "type": "collection",
        "label": "Collection02"
      },
      {
        "type": "text",
        "id": "title03",
        "label": "Collection03 Heading"
      },
      {
        "id": "collection3",
        "type": "collection",
        "label": "Collection03"
      },
      {
        "type": "range",
        "id": "per_row",
        "label": "Products per row",
        "default": 4,
        "min": 1,
        "max": 5,
        "step": 1
      }
    ],
    "presets": [{
      "name": "Collection switcher"
    }],
    "blocks" : []
  }
{% endschema %}
