{% include 'setting-spacing' %}

{%- assign collection = collections[section.settings.collection] -%}
{%- assign product_limit = product_limit | default: section.settings.rows -%}
{%- assign arrows = arrows | default: section.settings.carousel-arrows -%}
{%- assign dots = dots | default: section.settings.carousel-dots -%}
{%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

{% if section.settings.custom_color %}
<style>
    [data-section-id='{{ section.id }}'] .hero .hero-content .title {
        color: {{ section.settings.color_heading }}
    }

    [data-section-id='{{ section.id }}'] .hero .hero-content.hero-content-video a svg {
        color: {{ section.settings.color_icon_video }}
    }

    [data-section-id='{{ section.id }}'] .hero .hero-content .sub-title {
        color: {{ section.settings.color_sub_heading }}
    }

    [data-section-id='{{ section.id }}'] .hero .hero-content .description,
    [data-section-id='{{ section.id }}'] .hero .hero-content .description p > a,
    [data-section-id='{{ section.id }}'] .hero .hero-content .description > a {
        color: {{ section.settings.color_text }}
    }

    [data-section-id='{{ section.id }}'] .hero .hero-content .description p > a:after,
    [data-section-id='{{ section.id }}'] .hero .hero-content .description > a:after {
        background-color: {{ section.settings.color_text }}
    }

    [data-section-id='{{ section.id }}'] .hero .button-group .btn {
        color: {{ section.settings.color_button_one }};
        background-color: {{ section.settings.bg_button_one }};
        border-color: {{ section.settings.border_button_one }};
    }

    [data-section-id='{{ section.id }}'] .hero .button-group .btn:hover {
        color: {{ section.settings.color_button_one_hover }};
        background-color: {{ section.settings.bg_button_one_hover }};
        border-color: {{ section.settings.border_button_one_hover }};
    }

    [data-section-id='{{ section.id }}'] .hero-content-custom-2 .section-header h2{
        color: {{ section.settings.color_heading_custom }}
    }

    [data-section-id='{{ section.id }}'] .hero-content-custom-2 .section-header .text-link{
        color: {{ section.settings.color_link_section }};
        background-image: linear-gradient(transparent 97%,{{ section.settings.color_link_section }} 3%);
    }

    [data-section-id='{{ section.id }}'] .hero-content-custom-2 .halo-row .slick-arrow{
        color: {{ section.settings.color_button_arrow }};
        background-color: {{ section.settings.bg_button_arrow }};
        border-color: {{ section.settings.border_button_arrow }};
    }

    [data-section-id='{{ section.id }}'] .hero-content-custom-2 .halo-row .slick-arrow svg{
          color: {{ section.settings.color_button_arrow }};
    }

</style>
{% endif %}

<div class="halo-section {% if section.settings.custom_block %}hero-custom-block-margin{% endif %} {{ padding_top }} {{ padding_bottom }}" data-section-id="{{ section.id }}" data-section-type="hero-section">
  <div class="container-fluid">
    <div class="row">

      <div class="hero hero-content-custom-1 hero--large ">
          <div class="hero-image-wrapper">
              <div class="hero-image" {% if section.settings.image != blank %}style="background-image: url('{{ section.settings.image | img_url: 'master' }}'); background-size: cover;background-position: center;"{% endif %}>
                  {% if section.settings.image == blank %}
                      <div class="placeholder-background">
                          <span class="recommended_size">1200x570</span>
                          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                  {% endif %}
                  {% for i in (1..3) %}
                        {% capture cap_product %}product_{{ i }}{% endcapture %}
                        {% assign product_id = section.settings[cap_product] %}
                        {% assign product = all_products[product_id] %}
                        {% capture cap_coordinates_y %}coordinates_y_{{ i }}{% endcapture %}
                        {% assign coordinates_y = section.settings[cap_coordinates_y] %}
                        {% capture cap_coordinates_x %}coordinates_x_{{ i }}{% endcapture %}
                        {% assign coordinates_x = section.settings[cap_coordinates_x] %}
                        {% if product != blank %}
                        <div class="points_popup" style="top: {{ coordinates_y }}%; left: {{ coordinates_x }}%;">
                            <div class="point"> + </div>
                            <div class="custom-product-card">
                                <a href="javascript:void(0)" title="Close" class="close">&#215;</a>
                                {% render 'product-card-grid-2', product: product %}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
              </div>
          </div>
          <div class="hero-content hero-content--{{ section.settings.content-layout }} {% if section.settings.custom_block %}hero-custom-block-padding{% endif %}">
              {%- if section.settings.sub_title != blank -%}
                  <h3 class="sub-title">
                      {{ section.settings.sub_title }}
                  </h3>
              {%- endif -%}
              {%- if section.settings.title != blank -%}
                  <h2 class="title mega-title--medium">
                      {{ section.settings.title }}
                  </h2>
              {%- endif -%}
              {%- if section.settings.text != blank -%}
                  <div class="description">{{ section.settings.text }}</div>
              {%- endif -%}
              {%- if section.settings.button_label != blank -%}
                  <div class="button-group">
                      {%- if section.settings.button_label != blank -%}
                          <a href="{{ section.settings.button_link }}" class="btn btn--secondary" aria-label="link">
                              {{ section.settings.button_label }}
                          </a>
                      {%- endif -%}
                  </div>
              {%- endif -%}
          </div>
          {% if section.settings.button_video_link != blank %}
          <div class="hero-content hero-content--{{ section.settings.content-layout-video }} hero-content-video">
                <a href="javascript:void(0)" data-toggle="modal" data-target="#popup_video_{{ section.id }}" class="btn btn--secondary btn-popup-video" data-src="{{ section.settings.button_video_link }}" data-id="{{ section.id }}" aria-label="link">
                    <svg viewBox="0 0 200 200" class="icon icon-video"> <circle cx="100" cy="100" r="90" fill="none" stroke-width="8"></circle> <polygon points="70, 50 70, 145 155, 100"></polygon> </svg>
                </a>
          </div>
          {% endif %}
      </div>

      <div class="hero hero-content-custom-2 {% if section.settings.hero_layout_content == 'left_to_right'%}left-to-right{% endif %}"> 
        {% if section.settings.title_product != blank %}
            <div class="section-header section-header-product-carousel">
                <h2>{{ section.settings.title_product }}</h2>
                {% if section.settings.text_link != blank %}
                    <div class="wrapper-link-description">
                        <a class="text-link" href="{{ section.settings.custom_link }}" aria-label="link">
                            {{ section.settings.text_link }}
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="halo-row halo-row-custom column-{{ column }} collection-carousel"
                data-slick='{
                    "dots": {{ dots }},
                    "arrows": {{ arrows }},
                    "infinite": false,
                    "adaptiveHeight": true,
                    "slidesToShow": 2,
                    "slidesToScroll": 2,
                    "prevArrow": "<div class=&apos;slick-prev slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-left&apos; /></svg></div>", 
                    "nextArrow": "<div class=&apos;slick-next slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-right&apos; /></svg></div>",
                    "responsive": [
                        {
                            "breakpoint": 1100,
                            "settings": {
                                "slidesToScroll": 3,
                                "slidesToShow": 3,
                                "arrows": false,
                                "dots": true
                            }
                        },
                        {
                            "breakpoint": 992,
                            "settings": {
                                "slidesToScroll": 3,
                                "slidesToShow": 3,
                                "arrows": false,
                                "dots": true
                            }
                        },
                        {
                            "breakpoint": 551,
                            "settings": {
                                "slidesToScroll": 2,
                                "slidesToShow": 2,
                                "arrows": false,
                                "dots": true
                            }
                        }
                    ]
                    
                }'
            >
            {% for product in collection.products limit: product_limit %}
                <div class="halo-item">
                    {% render 'product-card-grid' with product as product, serial: forloop.index %}
                </div>
            {% else %}
                {% for i in (1..product_limit) %}
                    <div class="halo-item">
                        <div class="product-card">
                            <div class="product-image">
                                <a class="product-link" href="#">
                                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                    {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                </a>
                            </div>
                            <div class="product-content">
                                <h4 class="product-title">{{ 'homepage.onboarding.product_title' | t }}</h4>
                                <div class="product-reviews">{% render 'product-price', variant: nil %}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>
<div id="popup_video_{{ section.id }}" class="modal fade halo_modal halo_modal_video" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-video">
    </div>
</div>

{% schema %}
{
    "name": "Full width banner",
    "class": "hero-sections",
    "settings": [
        {
            "type": "header",
            "content": "Section Layout"
        },
        {
            "type": "range",
            "id": "padding-top",
            "label": "Spacing Top",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "range",
            "id": "padding-bottom",
            "label": "Spacing bottom",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "header",
            "content": "Banner Image"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "select",
            "id": "hero_layout_content",
            "label": "Layout Content",
            "default": "left_to_right",
            "options": [
                {
                    "label": "Left to Right",
                    "value": "left_to_right"
                },
                {
                    "label": "Right to Left",
                    "value": "right_to_left"
                }
            ]
        },
        {
            "type": "header",
            "content": "Banner Content"
        },
        {
            "type": "select",
            "id": "content-layout",
            "label": "Layout",
            "default": "left",
            "options": [
                {
                    "label": "left",
                    "value": "left"
                },
                {
                    "label": "Right",
                    "value": "right"
                },
                {
                    "label": "Middle",
                    "value": "middle"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Cosmopolis"
        }, 
        {
            "type": "text",
            "id": "sub_title",
            "label": "Sub Heading",
            "default": "New Collection"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Suspendisse suscipit delit posuere felis adipiscing, de bibendum detiam an dultricies scelerisque.</p>"
        },

        {
            "type": "text",
            "id": "button_label",
            "label": "Button",
            "default": "Shop Now"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        },
        {
            "type": "select",
            "id": "content-layout-video",
            "label": "Layout Icon Video",
            "default": "right",
            "options": [
                {
                    "label": "left",
                    "value": "left"
                },
                {
                    "label": "Right",
                    "value": "right"
                },
                {
                    "label": "Middle",
                    "value": "middle"
                }
            ]
        },
        {
            "type": "url",
            "id": "button_video_link",
            "label": "Link (video)",
            "info": "https://www.youtube.com/embed/_9VUPq3SxOc?autoplay=1"
        },

        {
            "type": "header",
            "content": "Heading Section"
        },
        {
            "type": "text",
            "id": "title_product",
            "label": "Title",
            "default": "Collection"
        },
        {
            "type": "text",
            "id": "text_link",
            "label": "Text Link",
            "default": "View all"
        },
        {
            "type": "url",
            "id": "custom_link",
            "label": "Link (Optional)"
        },
        {
            "type": "header",
            "content": "Collection layout"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "rows",
            "label": "Limit product",
            "min": 1,
            "max": 20,
            "step": 1,
            "default": 6
        },
        {
            "type": "checkbox",
            "id": "carousel-arrows",
            "label": "show arrows (Layout carousel)",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "carousel-dots",
            "label": "show dots (Layout carousel)",
            "default": false
        },
        {
            "type": "header",
            "content": "Product Popup"
        },
        {
            "type": "product",
            "label": "Product 1",
            "id": "product_1"
        },
        {
            "type": "range",
            "id": "coordinates_x_1",
            "label": "Coordinates x",
            "max": 100,
            "min": 0,
            "step": 1,
            "unit": "%",
            "default": 57
        },
        {
            "type": "range",
            "id": "coordinates_y_1",
            "label": "Coordinates y",
            "max": 100,
            "min": 0,
            "step": 1,
            "unit": "%",
            "default": 30,
            "info"  : "=============="
        },
        {
            "type": "product",
            "label": "Product 2",
            "id": "product_2"
        },
        {
            "type": "range",
            "id": "coordinates_x_2",
            "label": "Coordinates x",
            "max": 100,
            "min": 0,
            "step": 1,
            "unit": "%",
            "default": 20
        },
        {
            "type": "range",
            "id": "coordinates_y_2",
            "label": "Coordinates y",
            "max": 100,
            "min": 0,
            "step": 1,
            "unit": "%",
            "default": 20,
            "info"  : "=============="
        },
        {
            "type": "product",
            "label": "Product 3",
            "id": "product_3"
        },
        {
            "type": "range",
            "id": "coordinates_x_3",
            "label": "Coordinates x",
            "max": 100,
            "min": 0,
            "step": 1,
            "unit": "%",
            "default": 30
        },
        {
            "type": "range",
            "id": "coordinates_y_3",
            "label": "Coordinates y",
            "max": 100,
            "min": 0,
            "step": 1,
            "unit": "%",
            "default": 30
        },
        {
            "type": "header",
            "content": "Custom Color"
        },
        {
            "type": "checkbox",
            "id": "custom_color",
            "label": "Turn on custom color",
            "default": false
        },
        {
            "type": "color",
            "id": "color_heading",
            "label": "Heading Color"
        },
        {
            "type": "color",
            "id": "color_sub_heading",
            "label": "Sub Heading Color"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Description Color"
        },
        {
            "type": "color",
            "id": "color_button_one",
            "label": "Button Color"
        },
        {
            "type": "color",
            "id": "border_button_one",
            "label": "Border Button"
        },
        {
            "type": "color",
            "id": "bg_button_one",
            "label": "Background Button"
        }, 
        {
            "type": "color",
            "id": "color_button_one_hover",
            "label": "Button Color Hover"
        },
        {
            "type": "color",
            "id": "border_button_one_hover",
            "label": "Border Button Hover"
        },
        {
            "type": "color",
            "id": "bg_button_one_hover",
            "label": "Background Button Hover"
        },
        {
            "type": "color",
            "id": "color_icon_video",
            "label": "Color Icon Video"
        },
        {
            "type": "color",
            "id": "color_heading_custom",
            "label": "Heading Section Color"
        },
        {
            "type": "color",
            "id": "color_link_section",
            "label": "Url Section Color"
        },

        {
            "type": "color",
            "id": "color_button_arrow",
            "label": "Button Color Arrow"
        },
        {
            "type": "color",
            "id": "border_button_arrow",
            "label": "Border Button Arrow"
        },
        {
            "type": "color",
            "id": "bg_button_arrow",
            "label": "Background Button Arrow"
        }
         
    ],
    "presets": [
        {
            "name": "Full Width Banner Product",
            "category": "Banners"
        }
    ]
}
{% endschema %}
