<div class="section-product-what-in-box">
  <div class="what-in-box-wrapper">
    <div class="container">
    <div class="left-content">
      <h2 class="title">{{section.settings.title}}</h2>
      <div class="text-wrapper">
        {% for block in section.blocks %}
        <div class="text">{{block.settings.text}}</div>
        {% endfor %}
      </div>
    </div>
    </div>
  </div>
  
  {% if section.settings.image != blank %}
  <img class="hide-mb lazyload" src="{{ section.settings.image |img_url: '10x' }}" data-src="{{ section.settings.image |img_url: 'master' }}" alt=""/>
  {% endif %}

  {% if section.settings.image_mb != blank %}
  <img class="hide-pc lazyload" src="{{ section.settings.image_mb |img_url: '10x' }}" data-src="{{ section.settings.image_mb |img_url: 'master' }}" alt=""/>
  {% else %}
  <img class="hide-pc lazyload" src="{{ section.settings.image |img_url: '10x' }}" data-src="{{ section.settings.image |img_url: 'master' }}" alt=""/>
  {% endif %}
</div>

<style>
  @media (max-width: 768px){
    .section-product-what-in-box .what-in-box-wrapper{ background:{{ section.settings.text_bg_color}}; padding: 8vw 15px;}
  }
</style>

{% schema %}
  {
    "name": "Product what in box",
    "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "title"
          },{
            "type": "image_picker",
            "id": "image",
            "label": "Background Image PC"
          },{
            "type": "image_picker",
            "id": "image_mb",
            "label": "Background Image Mobile"
          },{
            "type": "color",
            "id": "text_bg_color",
            "label": "Title/Text Background Color on Mobile",
            "default": "#E1E1E6"
          }
    ],
	"blocks":[
      {
        "type": "text",
        "name": "Item",
        "settings":[
          {
            "type": "text",
            "label": "Text",
            "id": "text"
          }
        ]
      }
	],
    "presets": [
      {
        "name": "Product what in box",
        "category": "text"
 
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
