{%- if section.blocks.size > 0 -%}
<div class="section-{{ section.id }}" style="background: {{section.settings.bg_color}};">
  <div class="page-width">
  <div class="features-review-section">
    {% if section.settings.title != blank %}<div class="h1 text-center"><strong>{{ section.settings.title }}</strong></div>{% endif %}
    <div class="features-review-section-wrapper" data-per-row="{{ section.settings.per_row }}">
      <div class="swiper">
        <div class="swiper-wrapper features-review per-row-{{ section.settings.per_row }}">
          {%- for block in section.blocks -%}
            <div class="swiper-slide reviewBox">
              {% if block.settings.title != blank %}
              <div class="h5 review_author">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.9236 11.3191L11.2284 10.0615C10.9932 9.95231 10.8 10.0747 10.8 10.3351V12.7039C10.8 12.9643 10.9932 13.0867 11.2284 12.9775L13.9224 11.7199C14.1588 11.6095 14.1588 11.4295 13.9236 11.3191ZM12 -0.000488281C5.63758 -0.000488281 0.47998 5.15711 0.47998 11.5195C0.47998 17.8819 5.63758 23.0395 12 23.0395C18.3624 23.0395 23.52 17.8819 23.52 11.5195C23.52 5.15711 18.3624 -0.000488281 12 -0.000488281ZM12 16.1995C6.10318 16.1995 5.99998 15.6679 5.99998 11.5195C5.99998 7.37111 6.10318 6.83951 12 6.83951C17.8968 6.83951 18 7.37111 18 11.5195C18 15.6679 17.8968 16.1995 12 16.1995Z" fill="black"/>
                </svg>
                <span>{{ block.settings.title }}</span>
              </div>
              {% endif %}
              <div class="video_review">
                <div class="product__media">
                  <iframe src="https://www.youtube.com/embed/{{ block.settings.youtube_id}}" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
              </div>
              <div class="review_content ">
                  <div class="h5 variant_part">
                    {% if block.settings.variant_img != blank %}<img src="{{ block.settings.variant_img | img_url: '20x' }}" />{% endif %}
                    <span>{{ block.settings.text }}</span>
                  </div>
                  {% if block.settings.review != blank %}
                  <div class="rte">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.6998 7.00005C7.51415 7.00005 7.33611 7.0738 7.20483 7.20507C7.07355 7.33635 6.9998 7.5144 6.9998 7.70005V9.10005C6.99974 9.22993 7.03581 9.35727 7.10398 9.46782C7.17215 9.57837 7.26973 9.66777 7.38582 9.72603C7.5019 9.78429 7.6319 9.8091 7.76127 9.7977C7.89065 9.78629 8.01431 9.73912 8.1184 9.66145C7.8356 10.5938 7.4142 11.1944 7.2042 11.4044C7.13912 11.4695 7.08749 11.5468 7.05227 11.6318C7.01705 11.7169 6.99892 11.808 6.99892 11.9C6.99892 11.9921 7.01705 12.0832 7.05227 12.1683C7.08749 12.2533 7.13912 12.3306 7.2042 12.3956C7.33565 12.5271 7.51392 12.6009 7.6998 12.6009C7.79185 12.6009 7.88299 12.5828 7.96802 12.5476C8.05306 12.5124 8.13032 12.4607 8.1954 12.3956C8.796 11.7936 9.7998 10.122 9.7998 7.70005C9.7998 7.5144 9.72605 7.33635 9.59478 7.20507C9.4635 7.0738 9.28546 7.00005 9.0998 7.00005H7.6998ZM11.8998 7.00005C11.7142 7.00005 11.5361 7.0738 11.4048 7.20507C11.2736 7.33635 11.1998 7.5144 11.1998 7.70005V9.10005C11.1997 9.22993 11.2358 9.35727 11.304 9.46782C11.3722 9.57837 11.4697 9.66777 11.5858 9.72603C11.7019 9.78429 11.8319 9.8091 11.9613 9.7977C12.0907 9.78629 12.2143 9.73912 12.3184 9.66145C12.0356 10.5938 11.6142 11.1944 11.4042 11.4044C11.3391 11.4695 11.2875 11.5468 11.2523 11.6318C11.217 11.7169 11.1989 11.808 11.1989 11.9C11.1989 11.9921 11.217 12.0832 11.2523 12.1683C11.2875 12.2533 11.3391 12.3306 11.4042 12.3956C11.4693 12.4607 11.5466 12.5124 11.6316 12.5476C11.7166 12.5828 11.8078 12.6009 11.8998 12.6009C11.9918 12.6009 12.083 12.5828 12.168 12.5476C12.2531 12.5124 12.3303 12.4607 12.3954 12.3956C12.996 11.7936 13.9998 10.122 13.9998 7.70005C13.9998 7.5144 13.9261 7.33635 13.7948 7.20507C13.6635 7.0738 13.4855 7.00005 13.2998 7.00005H11.8998ZM2.7998 5.60005C2.7998 4.85744 3.0948 4.14525 3.61991 3.62015C4.14501 3.09505 4.8572 2.80005 5.5998 2.80005H15.3998C16.1424 2.80005 16.8546 3.09505 17.3797 3.62015C17.9048 4.14525 18.1998 4.85744 18.1998 5.60005V14C18.1998 14.7427 17.9048 15.4548 17.3797 15.9799C16.8546 16.505 16.1424 16.8 15.3998 16.8H13.1878L11.1158 20.6332C11.056 20.7442 10.9673 20.8369 10.8591 20.9016C10.751 20.9663 10.6274 21.0006 10.5013 21.0009C10.3753 21.0012 10.2515 20.9674 10.1431 20.9032C10.0346 20.839 9.94555 20.7467 9.8852 20.636L7.7866 16.8H5.5998C4.8572 16.8 4.14501 16.505 3.61991 15.9799C3.0948 15.4548 2.7998 14.7427 2.7998 14V5.60005ZM5.5998 4.20005C5.2285 4.20005 4.87241 4.34755 4.60986 4.6101C4.3473 4.87265 4.1998 5.22875 4.1998 5.60005V14C4.1998 14.3714 4.3473 14.7274 4.60986 14.99C4.87241 15.2525 5.2285 15.4 5.5998 15.4H8.201C8.32669 15.4 8.45008 15.4337 8.55823 15.4978C8.66637 15.5618 8.75528 15.6538 8.8156 15.764L10.4956 18.8356L12.156 15.7668C12.2161 15.6559 12.305 15.5632 12.4135 15.4986C12.5219 15.434 12.6458 15.4 12.772 15.4H15.3998C15.7711 15.4 16.1272 15.2525 16.3898 14.99C16.6523 14.7274 16.7998 14.3714 16.7998 14V5.60005C16.7998 5.22875 16.6523 4.87265 16.3898 4.6101C16.1272 4.34755 15.7711 4.20005 15.3998 4.20005H5.5998ZM3.4998 19.6H7.7236L8.4894 21H3.4998C3.31415 21 3.13611 20.9263 3.00483 20.795C2.87355 20.6637 2.7998 20.4857 2.7998 20.3C2.7998 20.1144 2.87355 19.9363 3.00483 19.8051C3.13611 19.6738 3.31415 19.6 3.4998 19.6ZM24.4998 21H12.5088L13.2648 19.6H24.4998C24.6855 19.6 24.8635 19.6738 24.9948 19.8051C25.1261 19.9363 25.1998 20.1144 25.1998 20.3C25.1998 20.4857 25.1261 20.6637 24.9948 20.795C24.8635 20.9263 24.6855 21 24.4998 21ZM3.4998 23.8C3.31415 23.8 3.13611 23.8738 3.00483 24.0051C2.87355 24.1363 2.7998 24.3144 2.7998 24.5C2.7998 24.6857 2.87355 24.8637 3.00483 24.995C3.13611 25.1263 3.31415 25.2 3.4998 25.2H17.4998C17.6855 25.2 17.8635 25.1263 17.9948 24.995C18.1261 24.8637 18.1998 24.6857 18.1998 24.5C18.1998 24.3144 18.1261 24.1363 17.9948 24.0051C17.8635 23.8738 17.6855 23.8 17.4998 23.8H3.4998Z" fill="black"/>
                      <path d="M7.69991 7.00073C7.51426 7.00073 7.33621 7.07448 7.20493 7.20576C7.07366 7.33703 6.99991 7.51508 6.99991 7.70073V9.10073C6.99984 9.23061 7.03591 9.35795 7.10408 9.4685C7.17226 9.57905 7.26984 9.66846 7.38592 9.72671C7.502 9.78497 7.632 9.80979 7.76138 9.79838C7.89076 9.78698 8.01441 9.7398 8.11851 9.66213C7.83571 10.5945 7.41431 11.1951 7.20431 11.4051C7.13922 11.4702 7.0876 11.5475 7.05238 11.6325C7.01715 11.7176 6.99902 11.8087 6.99902 11.9007C6.99902 11.9928 7.01715 12.0839 7.05238 12.1689C7.0876 12.254 7.13922 12.3312 7.20431 12.3963C7.33575 12.5278 7.51402 12.6016 7.69991 12.6016C7.79195 12.6016 7.88309 12.5835 7.96813 12.5483C8.05316 12.513 8.13042 12.4614 8.19551 12.3963C8.79611 11.7943 9.79991 10.1227 9.79991 7.70073C9.79991 7.51508 9.72616 7.33703 9.59488 7.20576C9.46361 7.07448 9.28556 7.00073 9.09991 7.00073H7.69991ZM11.8999 7.00073C11.7143 7.00073 11.5362 7.07448 11.4049 7.20576C11.2737 7.33703 11.1999 7.51508 11.1999 7.70073V9.10073C11.1998 9.23061 11.2359 9.35795 11.3041 9.4685C11.3723 9.57905 11.4698 9.66846 11.5859 9.72671C11.702 9.78497 11.832 9.80979 11.9614 9.79838C12.0908 9.78698 12.2144 9.7398 12.3185 9.66213C12.0357 10.5945 11.6143 11.1951 11.4043 11.4051C11.3392 11.4702 11.2876 11.5475 11.2524 11.6325C11.2172 11.7176 11.199 11.8087 11.199 11.9007C11.199 11.9928 11.2172 12.0839 11.2524 12.1689C11.2876 12.254 11.3392 12.3312 11.4043 12.3963C11.4694 12.4614 11.5467 12.513 11.6317 12.5483C11.7167 12.5835 11.8079 12.6016 11.8999 12.6016C11.9919 12.6016 12.0831 12.5835 12.1681 12.5483C12.2532 12.513 12.3304 12.4614 12.3955 12.3963C12.9961 11.7943 13.9999 10.1227 13.9999 7.70073C13.9999 7.51508 13.9262 7.33703 13.7949 7.20576C13.6636 7.07448 13.4856 7.00073 13.2999 7.00073H11.8999Z" fill="#FFBC00"/>
                    </svg>
                    {{ block.settings.review }}
                  </div>
                  {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="swiper-pagination"></div>
      </div>
      <div class="swiper-navigation">
        <div class="swiper-button-prev">
          <svg viewBox="0 0 11 19">
            <path d="M9.6665 1.16663L1.33317 9.49996L9.6665 17.8333"fill="none" stroke="#000" stroke-width="2"></path>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg viewBox="0 0 11 19">
            <path d="M9.6665 1.16663L1.33317 9.49996L9.6665 17.8333" fill="none" stroke="#000" stroke-width="2"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<style>
  .section-{{ section.id }} .h1, .section-{{ section.id }} .h5{ color: {{ section.settings.text_color }}; }
  .section-{{ section.id }} .rte p{ color: {{ section.settings.subtitle_color }}; }
</style>
{% endif%}

{% schema %}
{
"name": "Home Featured Review",
"settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "What Online Reviewers Say"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Title color"
    },
    {
        "type": "color",
        "id": "subtitle_color",
        "label": "Subtitle color"
    },
    {
      "type": "select",
      "id": "per_row",
      "label": "Reviews per row",
      "options": [
        { "value": "1", "label": "1" },
        { "value": "2", "label": "2" },
        { "value": "3", "label": "3" }
      ],
      "default": "1"
    }
  ],
  "blocks": [
      {
        "type": "text",
        "name": "Review",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Author",
			      "default": "Author"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Variant text",
			      "default": "Color:Red"
          },
          {
            "type": "image_picker",
            "id": "variant_img",
            "label": "Variant image"
          },
          {
            "type": "richtext",
            "id": "review",
            "label": "review",
            "default": "<p>This is review text</p>"
          },
          {
            "type": "text",
            "id": "youtube_id",
            "label": "Youtube id"
          }
        ]
      }
    ],
"presets": [
{
"name": " Home Featured Review"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
