{% if section.blocks.size > 0 %}
<style>
  {% if section.settings.text_color != blank %}
  .page-faq-{{ section.id }} .faq-item .content-title {
    color: {{ section.settings.text_color }};
  }
  {% endif %}
  {% if section.settings.secondary_color != blank %}
  .page-faq-{{ section.id }} .faq-item .content-desc {
    color: {{ section.settings.secondary_color }};
  }
  {% endif %}
  {% if section.settings.bg_color != blank %}
  .page-faq-{{ section.id }} {
    background-color: {{ section.settings.bg_color }};
  }
  {% endif %}
</style>

<div class="page-faq page-faq-{{ section.id }}">
  <div class="page-faq-wrapper">
    {% if section.settings.title != blank %}
    <h2 class="title-container pro-titles">{{ section.settings.title }}</h2>
    {% endif %}
    <div class="faq-container">
      {% for block in section.blocks %}
      <div class="faq-item">
        {% if block.settings.title != blank %}
        <div class="item-title">
          <div class="content-title">{{ block.settings.title }}</div>
          <div class="content-toggle-btn">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 1V15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 8H15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </div>
        </div>
        {% endif %}
        {% if block.settings.desc != blank %}
        <div class="item-desc content-desc">{{ block.settings.desc }}</div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $(".page-faq .item-title").click(function() { 
      if($(this).siblings(".item-desc").is(":hidden")){
        $(this).find(".content-toggle-btn").html(`<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8H15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>`);
      }
      else{
        $(this).find(".content-toggle-btn").html(`<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 1V15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 8H15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>`);
      }
      $(this).siblings(".item-desc").slideToggle();
    });
  });
</script>
{% endif %}


{% schema %}
  {
    "name": "Page Faqs",
    "settings": [
   	  {
        "id": "text_color",
        "type": "color",
        "label": "Text Color",
		"default": "#000000"
      },
   	  {
        "id": "secondary_color",
        "type": "color",
        "label": "Secondary Text Color",
		"default": "#777777"
      },
   	  {
        "id": "bg_color",
        "type": "color",
        "label": "Background Color",
		"default": "#FAFAFA"
      },
	  {
        "type": "html",
        "id": "title",
        "label": "Title",
		"default": "FAQ"
      }
	],
	"blocks": [
      {
        "type": "text",
        "name": "FAQ Item",
        "settings": [
          {
            "type": "html",
            "id": "title",
            "label": "FAQ Title",
			"default": "Placeholder text for FQA Question N"
          },
          {
            "type": "html",
            "id": "desc",
            "label": "FAQ Description",
    		"default": "<p>Just register or login your own buyer account with the email address easily, then have the benefits including discount automatically, and complete the order confirmation.</p>"
          }
		]
      }
    ],
	"presets": [
      {
        "name": "Page Faqs"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}