{%- assign st = section.settings -%}
{%- if section.settings.slideshow_height == 'adapt' -%}
  {%- assign first_block = section.blocks[0] -%}
  {%- if first_block.settings.background.aspect_ratio == blank -%}
    {%- assign min_aspect_ratio = 2.333 -%}
  {%- else -%}
    {%- assign min_aspect_ratio = first_block.settings.background.aspect_ratio -%}
  {%- endif -%}
  {% assign wrapper_height = 100 | divided_by: min_aspect_ratio %}
{%- endif -%}

{% assign container = section.settings.container %}
{% assign use_content_above = section.settings.use_content_above %}

{% if 'container-fluid' contains container %}
  {% style %}
    {% if container == 'container' %}
    @media (min-width: 768px) {
      .home-banner__slideshow .sf__slider--adapt .swiper-slide {
        height: calc(var(--container-width)* 1px / var(--min-aspect-ratio));
      }
    }
    {% endif %}
    {% if container == 'container-fluid' %}
    @media (min-width: 768px) {
      .home-banner__slideshow .container-fluid .sf__slider--adapt .swiper-slide {
        height: calc((100vw - var(--offset-x) * 2)/ var(--min-aspect-ratio));
      }
    }
    @media (min-width: {{ settings.container_fluid_width | plus: settings.container_fluid_offset | plus: settings.container_fluid_offset }}px) {
      .home-banner__slideshow .container-fluid .sf__slider--adapt .swiper-slide {
        height: calc(var(--fluid-container-width)/ var(--min-aspect-ratio));
      }
    }
    {% endif %}
  {% endstyle %}
{% endif %}
<section
    id="sf__slideshow-{{ section.id }}"
    class="relative {{ section.settings.custom_class }} slider-{{ section.id }} home-banner__slideshow {% if section.settings.dots_position != 'bottom' %}sf-slider__pagination--{{ section.settings.dots_position }}{% endif %}"
    data-section-type="slider" data-section-id="{{ section.id }}"
    data-autoplay="{% if request.design_mode %}false{% else %}{{ st.autorotate }}{% endif %}"
    data-autoplay-speed="{{ st.autorotate_speed }}"
    data-enable-arrows="{{ st.show_arrows }}"
    data-enable-dots="{{ st.show_dots }}"
    data-slide-height="{{ section.settings.slideshow_height }}"
    {% if section.settings.slideshow_height == 'adapt' %}
    data-min-aspect-ratio="{{ min_aspect_ratio }}"
    {% endif %}
    style="--data-autoplay-speed: {{ st.autorotate_speed }}s; --min-aspect-ratio: {{ min_aspect_ratio }}"
>
    <div class="{{ section.settings.container }}">
        <div id="sf-slider-{{ section.id }}" class="swiper-container">
            <div
                class="swiper-wrapper sf__slider sf__slider--{{ st.slideshow_height }}"
               {% if section.settings.slideshow_height == 'adapt' %}
               data-min-aspect-ratio="{{ min_aspect_ratio }}"
               style="--slide-height: {{- wrapper_height -}}vw"
               {% endif %}
            >
                {% for block in section.blocks %}
                    {% assign bs = block.settings %}
                    {% assign image_position = bs.image_alignment %}
                    {%- assign content_positions = bs.content_position | split: ' ' -%}
                    {%- assign text_alignment = bs.text_alignment -%}
                    {%- assign text_horizontal_alignment = content_positions.first -%}
                    {%- assign text_vertical_alignment = content_positions.last | strip -%}
                    {%- assign footer_alignment = bs.footer_alignment -%}
                    {%- assign image_link = bs.image_link -%}
                    {% assign should_show_content = false %}
                    {% if bs.title != blank or bs.subheading != blank or bs.description != blank or bs.button_text != blank%}
                      {% assign should_show_content = true %}
                    {% endif %}


                    {% assign content_container = 'container-fluid' %}
                    {% if bs.content_in_container == true %}
                        {% assign content_container = 'container' %}
                    {% endif %}

                    {% assign bg_image = bs.background %}
                    {% if bs.mb_background != blank %}
                        {% assign bg_image = bs.mb_background %}
                    {% endif %}

                    {% assign video_urls = bs.video | newline_to_br | split: '<br />' %}
                    {% capture video_bg %}
                        <div class="sf__slide-bg">
                            <video loop playsinline muted autoplay preload="auto">
                                {% for video in video_urls %}
                                    {% assign video_url = video | split: '?v=' %}
                                    {% assign video_url = video_url | first | strip_newlines %}
                                    {% assign format = 'mp4' %}
                                    {% if video_url contains '.webm' or video_url contains '.WEBM' %}
                                        {% assign format = 'webm' %}
                                    {% endif %}
                                    {% if video_url contains '.mov' or video_url contains '.MOV' %}
                                        {% assign format = 'mp4' %}
                                    {% endif %}
                                    <source src="{{ video_url }}" type="video/{{ format }}">
                                {% endfor %}
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    {% endcapture %}
                    <div
                        {{ block.shopify_attributes }}
                        data-slide="{{ forloop.index0 }}"
                        class="swiper-slide relative sf__slide--text-{{ bs.text_color }}  {% if forloop.first %} sf-slider--first{% endif %}{% if image_link != blank %} sf-slider--has-link{% endif %}"
                        data-slide-type="{{ block.type }}"
                    >
                        <div class="position md:h-full bg-cover bg-center"
                        >
                            {% if image_link != blank %}
                              <a href="{{ image_link }}" class="sf-slider__link"></a>
                            {% endif %}

                            {% comment %} Image on desktop {% endcomment %}
                            <div class="hidden md:block">
                                {% if bs.background == blank and bs.video == blank %}
                                    <div class="sf__slide-image sf__slideshow-placeholder absolute inset-0 overflow-hidden">
                                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                                        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
                                    </div>
                                <!-- {% else %}
                                    {% if block.type == 'video_slide' %}
                                        {{ video_bg }}
                                    {% else %}
                                        <div
                                            class="sf__slide-bg hidden md:block bg-cover bg-no-repeat bg-center lazyload{% unless forloop.first %} lazypreload{% endunless %} js"
                                            data-bg="{{ bs.background | img_url: '300x300' }}"
                                            data-bgset="{% render 'bgset', image: bs.background %}"
                                            data-parent-fit="contain"
                                            data-sizes="auto"
                                            style="background-position: {{ image_position | default: 'center' }};"
                                            data-image-loading
                                        >
                                        </div>
                                    {% endif %} -->
                                {% endif %}

                                <!-- {% if st.show_overlay %}
                                    <div class="sf__slideshow-overlay"></div>
                                {% endif %} -->
                            </div>

                            {% comment %} Image on mobile {% endcomment %}
                            <div class="md:hidden relative">
                                {% if bg_image == blank and bs.video == blank %}
                                    {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                                    <div class="sf__slide-image overflow-hidden">{{ 'lifestyle-' | append: current | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}</div>
                                {% else %}
                                    {% if block.type == 'video_slide' and bs.mb_background == blank %}
                                        <div class="sf__slide-image sf__slide-image--video relative">
                                            {{ video_bg }}
                                        </div>
                                    {% else %}
                                        <div class="sf__slide-image relative">
                                            {% if image_link != blank %}
                                              <a href="{{ image_link }}" class="sf-slider__link"></a>
                                            {% endif %}
                                            {% render 'responsive-image', image: bg_image, image_class: '' %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% capture dotColor %}sf__dot-{{section.settings.dots_color}}{% endcapture %}
            {% if section.blocks.size > 1 %}
              {% if st.show_dots or st.show_arrows %}
                {% render 'slider-controls', absolute: true, show_nav: st.show_arrows, nav_class: 'border border-1', dots_class: dotColor %}
              {% endif %}
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "OdinLake Images",
    "max_blocks": 20,
    "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "w-full",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
        {
            "type": "select",
            "id": "slideshow_height",
            "label": {"en": "Slide height"},
            "default": "adapt",
            "options": [
                {"label": {"en": "Adapt to first slide image"},"value": "adapt"},
                {"label": {"en": "Small"},"value": "small"},
                {"label": {"en": "Medium"},"value": "medium"},
                {"label": {"en": "Large"},"value": "large"},
                {"label": {"en": "Full-screen"},"value": "fullscreen"}
            ],
            "info": "Only applies to screens > 767px"
        },
        {
            "type": "select",
            "id": "dots_position",
            "label": "Pagination position",
            "default": "bottom",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "select",
            "id": "dots_color",
            "label": "Pagination color",
            "default": "dark",
            "options": [
                {
                    "value": "dark",
                    "label": "Dark"
                },
                {
                    "value": "light",
                    "label": "Light"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_dots",
            "label": "Show pagination",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_arrows",
            "label": "Show navigation",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "autorotate",
            "label": {"en": "Auto-rotate slides"},
            "default": false
        },
        {
            "type": "range",
            "id": "autorotate_speed",
            "label": {"en": "Change slides every"},
            "info": {"en": "Work when auto-rotate"},
            "max": 10,
            "min": 2,
            "step": 1,
            "unit": "s",
            "default": 5
        },
        {
            "type": "header",
            "content": "Advanced"
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "Custom classes"
        }
    ],
    "blocks": [
            {
                "type": "slider_item",
                "name": "Image slide",
                "settings": [
                    {
                        "type": "header",
                        "content": "Background settings"
                    },
                    {
                        "type": "image_picker",
                        "id": "background",
                        "label": "Image on desktop",
                        "info": "1920 x 900px recommended"
                    },
                    {
                        "type": "image_picker",
                        "id": "mb_background",
                        "label": "Image on mobile",
                        "info": "600 x 480px recommended"
                    },
                    {
                        "type":"select",
                        "id":"image_alignment",
                        "label":{
                            "en":"Image position"
                        },
                        "default":"center",
                        "options":[
                            {
                                "label":{
                                    "en":"Top left"
                                },
                                "value":"left top"
                            },
                            {
                                "label":{
                                    "en":"Top center"
                                },
                                "value":"center top"
                            },
                            {
                                "label":{
                                    "en":"Top right"
                                },
                                "value":"right top"
                            },
                            {
                                "label":{
                                    "en":"Middle left"
                                },
                                "value":"left center"
                            },
                            {
                                "label":{
                                    "en":"Middle center"
                                },
                                "value":"center"
                            },
                            {
                                "label":{
                                    "en":"Middle right"
                                },
                                "value":"right center"
                            },
                            {
                                "label":{
                                    "en":"Bottom left"
                                },
                                "value":"left bottom"
                            },
                            {
                                "label":{
                                    "en":"Bottom center"
                                },
                                "value":"center bottom"
                            },
                            {
                                "label":{
                                    "en":"Bottom right"
                                },
                                "value":"right bottom"
                            }
                        ]
                    },
                    {
                        "type": "url",
                        "id": "image_link",
                        "label": "Image link",
                        "info":"Link to image"
                    }
                ]
            }
    ],
    "presets": [{
        "name": "OdinLake Odinlake",
        "category": "Image",
        "blocks": [
                { "type": "slider_item" },
                { "type": "slider_item" },
                { "type": "slider_item" }
            ]
    }]
  }
{% endschema %}
